@charset "utf-8";

:root{
  --color-static-white: #fff;
  --color-static-black: #111;
  --color-black-opa-50: rgba(0,0,0,0.5);
  --color-white-opa-60: rgba(255,255,255,0.6);
  --color-white-opa-10: rgba(255,255,255,0.1);
  --color-gray-900: #1c1c1c;
  --color-gray-800: #3c3c3c;
  --color-gray-700: #646464;
  --color-gray-600: #969697;
  --color-gray-500: #b4b4b4;
  --color-gray-400: #cbcbcb;
  --color-gray-300: #dedede;
  --color-gray-200: #ececec;
  --color-gray-100: #f6f6f6;
  --color-input-bg: #f7f7f7;
  --color-red: #e60303;
}

html {scroll-behavior: smooth; -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select: none;}
#load{width: 100%;height: 100%; top: 0;left: 0; position: fixed;display: block;z-index: 999;text-align: center;}
#load>img{width: 120px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%); z-index: 10000;}
button{cursor: pointer;}
#wrap {max-width: 1440px; margin: 0 auto;}
*, ::after, ::before {box-sizing: border-box;}
.sr-only {position: absolute; width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);white-space: nowrap;border-width: 0;}


.scroll_lock{overflow: hidden;}
.shadow{box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);}
.cursor_p{cursor: pointer;}

/* colors */
.bg_main {background: var(--primary-color) !important;}
.bg_main_dark {background: var(--primary-dark-color) !important;}
.bg_white{background: var(--color-static-white) !important;}
.bg_black{background: var(--color-static-black) !important;}
.bg_black_opa_50{background: var(--color-black-opa-50) !important;}
.bg_white_opa_60{background: var(--color-white-opa-60) !important;}
.bg_white_opa_10{background: var(--color-white-opa-10) !important;}
.bg_gray_900 {background: var(--color-gray-900) !important;}
.bg_gray_800 {background: var(--color-gray-800) !important;}
.bg_gray_700 {background: var(--color-gray-700) !important;}
.bg_gray_600 {background: var(--color-gray-600) !important;}
.bg_gray_500 {background: var(--color-gray-500) !important;}
.bg_gray_400 {background: var(--color-gray-400) !important;}
.bg_gray_300 {background: var(--color-gray-300) !important;}
.bg_gray_200 {background: var(--color-gray-200) !important;}
.bg_gray_100 {background: var(--color-gray-100) !important;}
.bg_red{background: var(--color-red) !important;}
.color_main {color: var(--primary-color) !important;}
.color_main_dark {color: var(--primary-dark-color) !important;}
.color_white{color: var(--color-static-white) !important;}
.color_black{color: var(--color-static-black) !important;}
.color_black_opa_50{color: var(--color-black-opa-50) !important;}
.color_white_opa_60{color: var(--color-white-opa-60) !important;}
.color_white_opa_10{color: var(--color-white-opa-10) !important;}
.color_gray_900 {color: var(--color-gray-900) !important;}
.color_gray_800 {color: var(--color-gray-800) !important;}
.color_gray_700 {color: var(--color-gray-700) !important;}
.color_gray_600 {color: var(--color-gray-600) !important;}
.color_gray_500 {color: var(--color-gray-500) !important;}
.color_gray_400 {color: var(--color-gray-400) !important;}
.color_gray_300 {color: var(--color-gray-300) !important;}
.color_gray_200 {color: var(--color-gray-200) !important;}
.color_gray_100 {color: var(--color-gray-100) !important;}
.color_red{color: var(--color-red) !important;}
 
/* width */
.w_100 {width: 100% !important;}
.w_90 {width: 90% !important;}
.w_80 {width: 80% !important;}
.w_70 {width: 70% !important;}
.w_60 {width: 60% !important;}
.w_50 {width: 50% !important;}
.w_40 {width: 40% !important;}
.w_30 {width: 30% !important;}
.w_20 {width: 20% !important;}
.w_10 {width: 10% !important;}
.h_100{height: 100% !important;}

.d_none{display: none !important;}
.d_block{display: block !important;}
.d_flex{display: flex !important;}
.d_grid{display: grid !important;} 
.flex_wrap{flex-wrap: wrap !important;}
.flex_direction_column{flex-direction: column !important;}
.justify_content_between{justify-content: space-between !important;}
.justify_content_center{justify-content: center !important;}
.justify_content_start{justify-content: start !important;}
.justify_content_end{justify-content: end !important;}
.align_items_center{align-items: center !important;}
.align_items_baseline{align-items:baseline !important;}
.align_items_end{align-items:end !important;}
.text_left{text-align: left !important;}
.text_center{text-align: center !important;}
.text_right{text-align: right !important;}
.position_relative{position: relative !important;}
.position_absolute{position: absolute !important;}
.visible {visibility: visible !important;}
.invisible {visibility: hidden !important;}

/* margin */
.m_0 {margin: 0 !important;}
.mt_0,.my_0 {margin-top: 0 !important;}
.mr_0,.mx_0 {margin-right: 0 !important;}
.mb_0,.my_0 {margin-bottom: 0 !important;}
.ml_0,.mx_0 {margin-left: 0 !important;}

.m_1 {margin: 0.25rem !important;}
.mt_1,.my_1 {margin-top: 0.25rem !important;}
.mr_1,.mx_1 {margin-right: 0.25rem !important;}
.mb_1,.my_1 {margin-bottom: 0.25rem !important;}
.ml_1,.mx_1 {margin-left: 0.25rem !important;}

.m_2 {margin: 0.5rem !important;}
.mt_2,.my_2 {margin-top: 0.5rem !important;}
.mr_2,.mx_2 {margin-right: 0.5rem !important;}
.mb_2,.my_2 {margin-bottom: 0.5rem !important;}
.ml_2,.mx_2 {margin-left: 0.5rem !important;}

.m_3 {margin: 1rem !important;}
.mt_3,.my_3 {margin-top: 1rem !important;}
.mr_3,.mx_3 {margin-right: 1rem !important;}
.mb_3,.my_3 {margin-bottom: 1rem !important;}
.ml_3,.mx_3 {margin-left: 1rem !important;}

.m_4 {margin: 1.5rem !important;}
.mt_4,.my_4 {margin-top: 1.5rem !important;}
.mr_4,.mx_4 {margin-right: 1.5rem !important;}
.mb_4,.my_4 {margin-bottom: 1.5rem !important;}
.ml_4,.mx_4 {margin-left: 1.5rem !important;}

.m_5 {margin: 3rem !important;}
.mt_5,.my_5 {margin-top: 3rem !important;}
.mr_5,.mx_5 {margin-right: 3rem !important;}
.mb_5,.my_5 {margin-bottom: 3rem !important;}
.ml_5,.mx_5 {margin-left: 3rem !important;}

/* padding */
.p_0 {padding: 0 !important;}
.pt_0,.py_0 {padding-top: 0 !important;}
.pr_0,.px_0 {padding-right: 0 !important;}
.pb_0,.py_0 {padding-bottom: 0 !important;}
.pl_0,.px_0 {padding-left: 0 !important;}

.p_1 {padding: 0.25rem !important; }
.pt_1,.py_1 {padding-top: 0.25rem !important; }
.pr_1,.px_1 {padding-right: 0.25rem !important; }
.pb_1,.py_1 {padding-bottom: 0.25rem !important; }
.pl_1,.px_1 {padding-left: 0.25rem !important; }

.p_2 {padding: 0.5rem !important; }
.pt_2,.py_2 {padding-top: 0.5rem !important; }
.pr_2,.px_2 {padding-right: 0.5rem !important; }
.pb_2,.py_2 {padding-bottom: 0.5rem !important; }
.pl_2,.px_2 {padding-left: 0.5rem !important; }

.p_3 {padding: 1rem !important; }
.pt_3,.py_3 {padding-top: 1rem !important; }
.pr_3,.px_3 {padding-right: 1rem !important; }
.pb_3,.py_3 {padding-bottom: 1rem !important; }
.pl_3,.px_3 {padding-left: 1rem !important; }

.p_4 {padding: 1.5rem !important; }
.pt_4,.py_4 {padding-top: 1.5rem !important; }
.pr_4,.px_4 {padding-right: 1.5rem !important; }
.pb_4,.py_4 {padding-bottom: 1.5rem !important; }
.pl_4,.px_4 {padding-left: 1.5rem !important; }

.p_5 {padding: 3rem !important;}
.pt_5,.py_5 {padding-top: 3rem !important;}
.pr_5,.px_5 {padding-right: 3rem !important;}
.pb_5,.py_5 {padding-bottom: 3rem !important;}
.pl_5,.px_5 {padding-left: 3rem !important;}

/* form_control */
.form_control {display: block; padding: 6px 12px; line-height: 1.5;color: var(--color-static-black);background-color: var(--color-static-white); border: 1px solid var(--color-gray-300);}
.form_control::placeholder {color: var(--color-gray-500);}

/* border-radius */
.radius_1{border-radius: 0.25rem !important;}
.radius_2{border-radius: 0.5rem !important;}
.radius_3{border-radius: 1rem !important;}
.radius_4{border-radius: 1.5rem !important;}
.radius_5{border-radius: 2rem !important;}
.radius_6{border-radius: 3rem !important;}

/* table */
.table {width: 100%;}
.table th,.table td {vertical-align: top; border-top: 1px solid var(--table-border-color);}
.table thead th {vertical-align: bottom; border-bottom: 2px solid var(--table-border-color);}
.table tbody + tbody {border-top: 2px solid var(--table-border-color);}



.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12, .col,
.col_auto, .col_sm_1, .col_sm_2, .col_sm_3, .col_sm_4, .col_sm_5, .col_sm_6, .col_sm_7, .col_sm_8, .col_sm_9, .col_sm_10, .col_sm_11, .col_sm_12, .col_sm,
.col_sm_auto, .col_md_1, .col_md_2, .col_md_3, .col_md_4, .col_md_5, .col_md_6, .col_md_7, .col_md_8, .col_md_9, .col_md_10, .col_md_11, .col_md_12, .col_md,
.col_md_auto, .col_lg_1, .col_lg_2, .col_lg_3, .col_lg_4, .col_lg_5, .col_lg_6, .col_lg_7, .col_lg_8, .col_lg_9, .col_lg_10, .col_lg_11, .col_lg_12, .col_lg,
.col_lg_auto, .col_xl_1, .col_xl_2, .col_xl_3, .col_xl_4, .col_xl_5, .col_xl_6, .col_xl_7, .col_xl_8, .col_xl_9, .col_xl_10, .col_xl_11, .col_xl_12, .col_xl,
.col_xl_auto {position: relative;width: 100%;padding-right: 15px;padding-left: 15px;}
.row {display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;}
.col {-ms-flex-preferred-size: 0; flex-basis: 0; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%;}
.col_1 {-ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%;}
.col_2 {-ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%;}
.col_3 {-ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%;}
.col_4 {-ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%;}
.col_5 {-ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%;}
.col_6 {-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
.col_7 {-ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%;}
.col_8 {-ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%;}
.col_9 {-ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%;}
.col_10 {-ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%;}
.col_11 {-ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%;}
.col_12 {-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}


@media (min-width: 621px) {
  .col_sm_1 {-ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%;}
  .col_sm_2 { -ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;}
  .col_sm_3 {-ms-flex: 0 0 25%; flex: 0 0 25%;max-width: 25%;}
  .col_sm_4 {-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;}
  .col_sm_5 {-ms-flex: 0 0 41.666667%;flex: 0 0 41.666667%;max-width: 41.666667%;}
  .col_sm_6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
  .col_sm_7 {-ms-flex: 0 0 58.333333%;flex: 0 0 58.333333%; max-width: 58.333333%;}
  .col_sm_8 {-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
  .col_sm_9 {-ms-flex: 0 0 75%;flex: 0 0 75%; max-width: 75%;}
  .col_sm_10 {-ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%;}
  .col_sm_11 {-ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%;}
  .col_sm_12 {-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}
}
@media (min-width: 768px){
  .d_md_block {display: block!important;}
  .d_md_none {display: none!important;}
  .col_md_1 {-ms-flex: 0 0 8.333333%;flex: 0 0 8.333333%;max-width: 8.333333%;}
  .col_md_2 {-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;}
  .col_md_3 {-ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%;}
  .col_md_4 {-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%; max-width: 33.333333%;}
  .col_md_5 {-ms-flex: 0 0 41.666667%;flex: 0 0 41.666667%; max-width: 41.666667%;}
  .col_md_6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
  .col_md_7 {-ms-flex: 0 0 58.333333%;flex: 0 0 58.333333%;max-width: 58.333333%;}
  .col_md_8 {-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
  .col_md_9 {-ms-flex: 0 0 75%; flex: 0 0 75%;max-width: 75%;}
  .col_md_10 {-ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%;max-width: 83.333333%;}
  .col_md_11 {-ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%;max-width: 91.666667%;}
  .col_md_12 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
}
@media (min-width: 992px) {
  .col_lg_1 {-ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%;max-width: 8.333333%;}
  .col_lg_2 {-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%; max-width: 16.666667%;}
  .col_lg_3 {-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}
  .col_lg_4 {-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;}
  .col_lg_5 {-ms-flex: 0 0 41.666667%;flex: 0 0 41.666667%;max-width: 41.666667%;}
  .col_lg_6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
  .col_lg_7 {-ms-flex: 0 0 58.333333%;flex: 0 0 58.333333%;max-width: 58.333333%;}
  .col_lg_8 {-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
  .col_lg_9 {-ms-flex: 0 0 75%;flex: 0 0 75%;max-width: 75%;}
  .col_lg_10 {-ms-flex: 0 0 83.333333%;flex: 0 0 83.333333%;max-width: 83.333333%;}
  .col_lg_11 {-ms-flex: 0 0 91.666667%;flex: 0 0 91.666667%;max-width: 91.666667%;}
  .col_lg_12 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
}
@media (min-width: 1200px) {
  .col_xl_1 {-ms-flex: 0 0 8.333333%;flex: 0 0 8.333333%; max-width: 8.333333%;}
  .col_xl_2 {-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;}
  .col_xl_3 {-ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%;}
  .col_xl_4 {-ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%;max-width: 33.333333%;}
  .col_xl_5 {-ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%;max-width: 41.666667%;}
  .col_xl_6 {-ms-flex: 0 0 50%;flex: 0 0 50%; max-width: 50%;}
  .col_xl_7 {-ms-flex: 0 0 58.333333%;flex: 0 0 58.333333%;max-width: 58.333333%;}
  .col_xl_8 {-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
  .col_xl_9 {-ms-flex: 0 0 75%;flex: 0 0 75%;max-width: 75%;}
  .col_xl_10 {-ms-flex: 0 0 83.333333%;flex: 0 0 83.333333%;max-width: 83.333333%;}
  .col_xl_11 {-ms-flex: 0 0 91.666667%;flex: 0 0 91.666667%;max-width: 91.666667%;}
  .col_xl_12 {-ms-flex: 0 0 100%; flex: 0 0 100%;max-width: 100%;}
}