@charset "utf-8";
/* pretendard */
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}
:root {
  --primary-color: #0DF259;
  --color-01: #64748B;
  --color-static-white: #fff;
  --color-static-black: #000;
  --pri-05: rgba(13,242,89,0.05);
  --pri-10: rgba(13,242,89,0.1);
  --pri-20: rgba(13,242,89,0.2);
  --pri-30: rgba(13,242,89,0.3);
  --pri-50: rgba(13,242,89,0.5);
}
body {
  width: 100%;
  height: 100%;
  color: var(--color-static-black);
  background: var(--color-static-white);
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
body, h1, h2, h3, h4, h5, h6, b, table, th, tr, td, strong, footer, div, input, button, select, textarea, label, dd, dl, dt{
  font-family: "Pretendard";
  letter-spacing: -0.5px;
}
*::placeholder{
  color: var(--color-gray-400);
  font-family: "Pretendard";
  letter-spacing: -0.5px;
}
.hidden_scroll {
  overflow: hidden;
}
.wrap, .header_wrap{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}
header{
  width: 100%;
  height: 80px;
  border-bottom: 1px solid var(--pri-20);
}
.header_wrap{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img{
  width: 190px;
}
header nav ul{
  display: flex;
  column-gap: 40px;
  font-size: 20px;
}
header nav ul li a{
  position: relative;
}
header nav ul li a::before{
  content: '';
  display: inline-block;
  position: absolute;
  width: 0%;
  height: 3px;
  background: linear-gradient(to right, var(--pri-10),var(--primary-color));
  bottom: -10px;
  transition: all 0.5s;
}
header nav ul li:hover a::before{
  width: 100%;
  transition: all 0.5s;
}
main{
  text-align: center;
  padding: 100px 0;
}
.badge{
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid var(--pri-30);
  background: var(--pri-05);
  border-radius: 100px;
  color: var(--primary-color);
  font-weight: 600;
}
.badge>div{
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.badge img{
  width: 24px;
}
h1{
  margin-top: 40px;
  font-size: clamp(36px, 6vw, 100px);
  font-weight: 600;
  line-height: 1.4;
}
h1 span:first-child{
  position: relative;
  top: -24px;
  left: -3px;
}
h1 .st{
  font-size: clamp(46px, 7vw, 120px);
  font-weight: 900;
  color: var(--primary-color);
}
h2{
  color: var(--color-01);
}
h2 .st{
  font-size: 20px;
  font-weight: 600;
  color: var(--color-static-black);
}

.tab_title{
  width: 100%;
  display: flex;
  background-color: #EEEEEE;
  border: 1px solid #ddd;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.tab_title>div{
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  color: var(--color-01);
  font-size: 20px;
  padding: 16px 0;
}
.tab_title>div.on{
  position: relative;
  background-color: var(--color-static-white);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: var(--color-static-black);
}
.tab_title>div:first-of-type.on{
  border-right: 1px solid #ddd;
}
.tab_title>div:nth-of-type(2).on{
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.tab_title>div:last-of-type.on{
  border-left: 1px solid #ddd;
}
.tab_title>div.on::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--color-static-white);
  bottom: -1px;
}
.tab_title .on img{
  filter: brightness(0) saturate(100%) invert(82%) sepia(19%) saturate(7280%) hue-rotate(82deg) brightness(100%) contrast(95%);
}
.tab_title>div img{
  width: 24px;
}
.tab_title>div>div{
  white-space: nowrap;
}
.tab_con{
  border: 1px solid #ddd;
  border-top: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 40px 26px 26px 26px;
}
.select_wrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.select_wrap .select_area{
  width: 30%;
}

/* s: select */
.select {
  position: relative;
  color: var(--color-static-black);
}
.select.active {
  z-index: 1;
}
.select.active .sel:before {
  transform: rotate(180deg)
}
.select.active .lSel {
  display: block;
  border: 1px solid var(--pri-30);
}
.select>.sel {
  min-width: 100px;
  border: 1px solid var(--pri-30);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  position: relative;
  background-color: var(--color-static-white);
  vertical-align: top;
  padding: 10px 22px 10px 12px;
  border-radius: 100px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}
.select>.sel:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -5px;
  background: url('../img/icon_arrow_down.svg') 50% 50% no-repeat;
  background-size: 10px;
  width: 10px;
  height: 10px;
  transition: all 0.4s 0s;
}
.lSel {
  padding: 20px;
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 10px;
  background-color: var(--color-static-white);
  border: 1px solid var(--primary-color);
  padding: 3px 3px;
  width: 100%;
  max-height: 153px;
  overflow: hidden;
  overflow-y: auto;
}
.lSel::-webkit-scrollbar-button:vertical:start:decrement,
.lSel::-webkit-scrollbar-button:vertical:end:decrement {
  display: block;
  height: 10px;
}
.lSel::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}
.lSel::-webkit-scrollbar-track {
  background-color: transparent;
}
.lSel::-webkit-scrollbar-thumb {
  background: #d2d2d2;
  height: 10%;
  border-radius: 10px;
}
.lSel::-webkit-scrollbar-thumb:hover {
  background: #d2d2d2;
}
.lSel button {
  text-align: left;
  display: block;
  background-color: var(--color-static-white);
  font-size: 15px;
  font-weight: normal;
  padding: 6px 13px;
  width: 100%;
  transition: all 0.4s 0s;
  border-radius: 6px;
}
.lSel button+button {
  margin-top: 3px;
}
.lSel button:hover,
.lSel button.active {
  background-color: var(--pri-10);
}
/* e: select */

.box{
  background-color: var(--pri-05);
  border: 1px solid var(--pri-30);
  border-radius: 10px;
  padding: 12px 12px;
  display: flex;
  column-gap: 10px;
  margin-top: 16px;
  position: relative;
}
.big_box{
  background-color: var(--pri-05);
  border: 1px solid var(--pri-30);
  border-radius: 10px;
  margin-top: 16px;
  position: relative;
  min-height: 300px;
  padding: 12px 12px 50px 12px;
}
.big_box .btn_lo{
  display: flex;
  position: absolute;
  bottom: 12px;
  right: 12px;
  white-space: nowrap;
}
.play_copy{
  display: flex;
  align-items: center;
  white-space: nowrap;
  column-gap: 14px;
}
.play{
  height: fit-content;
  display: flex;
  align-items: center;
  column-gap: 10px;
  background-color: var(--primary-color);
  padding: 8px 16px;
  border-radius: 100px;
  font-weight: 500;
  cursor: pointer;
}
.play img{
  width: 18px;
}
.copy{
  font-size: 0;
}
.copy img{
  width: 24px;
}
.tab_con .con{
  display: none;
}
.tab_con .con.on{
  display: block !important;
}
.dflex{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.dflex>div{
  width: 48%;
}
.risk_box{
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-bottom: 30px;
}
.text_area{
  position: relative;
}
.text_area textarea{
  width: 100%;
  height: 400px;
  border: 1px solid var(--pri-30);
  border-radius: 20px;
}
.text_area p{
  position: absolute;
  bottom: 12px;
  right: 12px;
  font-size: 13px;
  color: var(--color-01);
}
.con_02 .sm{
  font-size: 14px;
  color: var(--primary-color);
}
.big_box p{
  word-break: break-word;
}


/* file */
.filebox {
  display: flex;
}
/* .filebox .position-relative .icon_img_cancel{
  background: url(http://test.s1.unipware.com/lawhere/images/icon_input_cancle.svg) no-repeat;
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 15px;
  background-size: 15px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
} */

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.click_after {
  display: none;
}
.btn_file{
  background: var(--primary-color);
  color: var(--color-static-white);
  padding: 4px 26px;
  white-space: nowrap;
  border-radius: 8px;
}
.filebox .input{
  background-color: var(--pri-05);
  border: 1px solid var(--pri-30);
  padding: 8px 12px;
  border-radius: 8px;
}

.qna_area{
  display: flex;
  justify-content: space-between;
}
.qna{
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 30%;
}
.qna .q::before{
  content: 'Q.';
  font-size: 30px;
  color: var(--primary-color);
  position: absolute;
  left: 0;
  top: 0;
}
.qna .q{
  position: relative;
  padding-left: 30px;
  font-size: 18px;
  margin-bottom: 20px;
}
.qna .a::before{
  content: 'A.';
  font-size: 30px;
  color: #eee;
  position: absolute;
  left: 0;
  top: 0;
}
.qna .a{
  position: relative;
  padding-left: 30px;
  color: var(--color-01);
  font-size: 15px;
  margin-bottom: 20px;
}
.big_box .tip{
  background-color: var(--color-static-white);
  padding: 10px 10px 10px 14px;
  position: relative;
  margin: 10px 0;
}
.big_box .tip::before{
  content: '';
  display: inline-block;
  width: 4px;
  height: 100%;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
}
.badge_sm{
  background-color: var(--primary-color);
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  padding: 1px 12px;
  border-radius: 20px;
  color: var(--color-static-white);
}
.big_box .tip p{
  font-size: 14px;
  color: var(--color-01);
}
.big_box.big{
  min-height: 500px;
  max-height: 500px;
}






