@charset "utf-8";

:root {
  --primary-color: #6D45E6;
  --primary-dark-color: #412F75;
  --color-pink: #D53685;
  --color-mint: #36C0D5;

  --color-static-white: #F6F5FA;
  --color-static-black: #111;

  --color-light-purple: #D5D2E1;
  --color-pale-purple: #E7E2F7;
  --color-light-bg: #E7E6EE;

  --shadow-down-blk: 0px 3px 4px rgba(0, 0, 0, 0.15);
  --shadow-all-blk: 0px 0px 6px rgba(0, 0, 0, 0.05);
  --gradient-primary: linear-gradient(135deg, #8E2CDE 0%, #5426ED 100%);
  --gradient-pink-purple: linear-gradient(135deg, #D93582 0%, #6945E2 100%);
  --gradient-secondary: linear-gradient(90deg, #C548FF 8%, #9A17FF 29%, #3FBBFE 61%, #C548FF 87%);
}

/* 개발시 지워주세요. */
.goto_roulette{
  position: absolute;
  top: 200px;
  right: 20px;
  background-color: #ff0000;
  color: #fff;
  padding: 10px;
  z-index: 10;
}
.goto_roulette.lo_01{
  top: 250px;
}
/* 개발시 지워주세요. */

body {
  width: 100%;
  height: 100%;
  font-family: 'Pretendard';
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.5px;
  color: var(--color-text-primary);
  overflow-x: hidden;
  background-color: var(--color-light-bg);
}
input, textarea{
  font-family: 'Pretendard';
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.5px;
}
body.no_scroll {
  overflow: hidden !important;
}
body.no_scroll::-webkit-scrollbar {
  scrollbar-width: 0;
  display: none;
}
body::-webkit-scrollbar {
  scrollbar-width: 0;
  display: none;
}
.letter_spa_0{
  letter-spacing: 0;
}
.wrap{
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  overflow-x: hidden;
}
.wrap::before, .wrap::after{
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: var(--color-gray-300);
}
.wrap::after{
  left: 50%;
  transform: translateX(512px);
}
.body_gate>.wrap::before, .body_gate>.wrap::after{
  display: none;
}
.inner{
  padding: 0 30px;
}
/* s: 공통모달 */
.modal_popup{
  display: none;
  width: 100%;
  min-height: 100%;
  position: fixed;
  inset: 0;
  background-color: var(--color-black-opa-50);
  overflow: hidden;
  z-index: 99999;
}
.modal_wrap {
  min-height: 100px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0;
  border-radius: 30px;
  background: var(--color-static-white);
  padding: 10px 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.modal_popup.active .modal_wrap{
  transform: translate(-50%, -50%);
  opacity: 1;
}
.modal_wrap_sm {
  max-width: 320px;
  width: 90%;
}
.modal_wrap_md {
  max-width: 400px;
  width: 90%;
}
.modal_scroll {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.modal_icon{
  position: absolute;
  width: 70px;
  height: 70px;
  background: var(--gradient-primary);
  border: 5px solid var(--color-static-white);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}
.modal_icon>img{
  width: 26px;
}
.modal_content{
  padding: 34px 26px 20px;
}
.modal_content .modal_title{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 14px;
}
.modal_content .title_icon{
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.modal_content .title_icon img{
  width: 24px;
}
.modal_content .modal_p{
  font-size: 15px;
  white-space: pre-wrap;
  margin-bottom: 16px;
}
.modal_content .modal_p_gray{
  font-size: 14px;
  color: var(--color-gray-600);
}
.modal_content .modal_p_pur{
  font-size: 14px;
  color: var(--primary-color);
}
.modal_img{
  max-width: 200px;
  border-radius: 10px;
}
.modal_button div{
  cursor: pointer;
}
.modal_button.two{
  display: flex;
  justify-content: center;
  column-gap: 14px;
  padding: 0 10px;
}
.modal_button .btn_main_gra{
  width: 100%;
  background: var(--gradient-primary);
  color: var(--color-static-white);
  font-size: 18px;
  padding: 12px;
  border-radius: 10px;
}
.modal_button .btn_gray{
  width: 100%;
  background: var(--color-gray-400);
  font-size: 18px;
  padding: 12px;
  border-radius: 10px;
}
.modal_button .btn_small{
  padding: 8px;
  max-width: 160px;
  margin: 0 auto;
}
/* e: 공통모달 */

/* s: 대문 */
.body_gate{
  background-color: #17002E;
}
.body_gate .wrap{
  width: 100%;
  height: 100vh;
  background: url('../img/bg_gate.jpg') no-repeat;
  background-size: 100%;
  background-position: center;
  padding: 0 100px;
  position: relative;
}
.logo_festival{
  max-width: 260px;
  width: 65%;
  margin: 0 auto ;
  padding-top: 50px;
}
.poster{
  width: 100%;
  text-align: center;
  max-width: 700px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
.poster img{
  max-width: 300px;
  border-radius: 10px;
}
.body_gate .text{
  width: 100%;
  max-width: 1024px;
  text-align: center;
  color: var(--color-static-white);
  margin-top: 36px;
}
.festival_title{
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 6px;
}
.festival_period{
  letter-spacing: 0;
  white-space: nowrap;
}
.body_gate .button{
  cursor: pointer;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-size: 150% 150%;
  text-align: center;
  background: var(--gradient-secondary);
  padding: 2px;
  white-space: nowrap;
  border-radius: 100px;
  animation: bg_move 1s ease infinite;
}
.button div{
  background-color: #17002E;
  border-radius: 100px;
  font-size: 24px;
  font-weight: 600;
  padding: 12px 100px;
  color: var(--color-static-white);
}
/* e: 대문 */

/* s: 축제상세_타입_01 */
.header_wrap {
  position: fixed;
  height: 76px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1024px;
  z-index: 101;
}
header{
  width: 100%;
  height: 70px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  transition: .3s;
  column-gap: 10px;
}
header.on, header.always_on{
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05);
}
header.on>.appbar_title, header.always_on>.appbar_title{
  opacity: 1;
  transition: 1s;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
header .arrow_left{
  width: 30px;
  cursor: pointer;
}
header .arrow_left img{
  width: 18px;
}
header .appbar_title{
  font-size: 18px;
  font-weight: 600;
  opacity: 0;
}
header>div:first-of-type{
  font-size: 0;
}
.mobile_btn{
  position: relative;
} 
input#hamburger {
  display: none;
}
input#hamburger + label {
  display: block;
  width: 30px;
  height: 24px;
  position: relative;
  cursor: pointer;
  z-index: 100;
}
.header_after.black input#hamburger + label span{
  background: var(--color-static-black);
}
.header_after.black input#hamburger:checked + label span {
  background: var(--color-static-black);
}
input#hamburger + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 30px;
  background: var(--color-static-black);
  transition: all 0.35s;
}
input#hamburger + label span:nth-child(1) {
  top: 0;
}
input#hamburger + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
input#hamburger + label span:nth-child(3) {
  bottom: 0;
}
input#hamburger:checked + label {
  z-index: 102;
}
input#hamburger:checked + label span {
  background: var(--color-static-black);
}
input#hamburger:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
input#hamburger:checked + label span:nth-child(2) {
  opacity: 0;
}
input#hamburger:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
input#hamburger:checked + label + div {
  left: 0;
}
.mobile_menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-light-bg);
  z-index: 10;
  padding: 90px 40px 20px;
  margin-left: 100vw;
  transition: margin-left .4s;
}
.mobile_menu.open{
  margin-left: 0vw;
  transition: margin-left .4s;
}
.mobile_menu .profile{
  display: flex;
  align-items: center;
  column-gap: 14px;
}
.mobile_menu .profile img{
  width: 55px;
  border: 0.5px solid var(--color-gray-500);
  border-radius: 100%;
}
.mobile_menu .profile .user_id, .user_id{
  font-size: 24px;
  font-weight: 600;
}
.mobile_menu .profile .user_info, .user_info{
  font-size: 15px;
  font-weight: 500;
  color: var(--color-gray-500);
}
.mobile_menu .gnb{
  margin-top: 50px;
}
.mobile_menu .gnb li ~ li{
  margin-top: 30px;
}
.mobile_menu .gnb li img{
  width: 25px;
}
.mobile_menu .gnb li a{
  display: flex;
  align-items: center;
  column-gap: 30px;
  color: var(--primary-dark-color);
  font-size: 18px;
  font-weight: 500;
}
.mobile_menu footer{
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 40px;
}
.mobile_menu footer img{
  width: 94px;
}
.mobile_menu footer p{
  font-size: 14px;
  color: var(--color-gray-500);
}
.mobile_menu footer .copy{
  margin-top: 20px;
}
.poster_area{
  width: 100%;
  height: 460px;
  background: url('../img/img_poster.jpg') no-repeat;
  background-size: 150%;
  background-position: top center;
  text-align: center;
}
.poster_area img{
  width: 100%;
  max-width: 160px;
  margin-top: 80px;
  border-radius: 10px;
  border: 0.5px solid var(--color-gray-500);
}
.poster_area .title{
  font-size: 22px;
  font-weight: 700;
  margin: 6px 0 2px;
}
.poster_area .badge_period{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  flex-wrap: wrap;
}
.poster_area .badge_period .badge{
  font-size: 12px;
  font-weight: 600;
  background-color: var(--primary-color);
  color: var(--color-static-white);
  padding: 2px 10px;
  border-radius: 4px;
}
.bg_gra{
  width: 100%;
  max-width: 1024px;
  height: 500px;
  background: linear-gradient(135deg, rgba(232,227,255,0.7) 0%, rgba(227,178,190,0.7) 100%);
  backdrop-filter: blur(10px);
}
.contents_area{
  position: relative;
  background-color: var(--color-light-bg);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -50px;
  padding: 30px 0;
}
.tab_menu{
  display: flex;
  width: 100%;
  max-width: 400px;
  padding: 4px;
  align-items: center;
  background-color: var(--color-light-purple);
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 40px;
}
.tab_menu div{
  width: 25%;
  text-align: center;
  color: var(--primary-dark-color);
  font-size: 15px;
  font-weight: 600;
  padding: 8px 0;
  border-radius: 40px;
  cursor: pointer;
}
.tab_menu div.on{
  color: var(--color-static-white);
  background-color: var(--primary-dark-color);
}
.tab_contents{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.tab_con {
  width: 100%;
  top: 0;
  left: 0;
  transition: transform 0.1s ease, opacity 0.3s ease;
  opacity: 0;
  display: none;
  pointer-events: none;
}
.tab_con.on {
  opacity: 1;
  display: block;
  transform: translateX(0);
  pointer-events: auto;
}
.no_contents{
  color: var(--color-gray-500);
  font-size: 14px;
  font-weight: 400;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.no_contents img{
  width: 26px;
}
/* -------스탬프탭------- */
.stamp_contents{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-light-purple);
  margin-bottom: 16px;
  cursor: pointer;
}
.stamp_contents:last-of-type{
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.stamp_thumb>img ,.profile_id_date_delete .profile{
  width: 80px;
  aspect-ratio: 1 / 1 ;
  border: 0.5px solid var(--color-gray-500);
  border-radius: 100%;
  object-fit: cover;
}
.stamp_thumb{
  position: relative;
  font-size: 0;
}
.stamp_thumb.on::before{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url('../img/icon_stamp_on_wht_pur_gra.svg') no-repeat;
  position: absolute;
  background-size: contain;
  opacity: 0.9;
  left: 0;
  top: 0;
  z-index: 100;
}
.stamp_contents>div + div{
  margin-left: 16px;
}
.stamp_contents .info{
  width: calc(100% - 116px);
}
.stamp_contents .info>.contents_title{
  font-size: 16px;
  font-weight: 600;
}
.stamp_contents .info>.contents_info{
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.stamping_ment{
  font-size: 14px;
}
.stamp_contents .info .review{
  display: flex;
  column-gap: 20px;
  font-size: 14px;
}
.stamp_contents .info .review img{
  width: 14px;
}
.stamp_contents .info .review div{
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.float_menu{
  position: fixed;
  width: calc(1024px - 60px);
  max-width: 1024px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 26px;
}
.float_menu .location{
  position: absolute;
  right: 0;
  bottom: 0;
}
.float_menu img{
  width: 24px;
}
.float_menu .location>div{
  padding: 20px;
  aspect-ratio: 1 / 1;
  background-color: var(--color-light-bg);
  border: 1px solid var(--primary-color);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-down-blk);
  cursor: pointer;
}
.float_menu .qr{
  margin-top: 16px;
  background: var(--gradient-primary);
}
.float_menu .btn_gift{
  cursor: pointer;
  width: calc(100% - 90px);
  padding: 15px 0;
  text-align: center;
  color: var(--color-static-white);
  font-weight: 600;
  font-size: 18px;
  background: var(--gradient-pink-purple);
  border-radius: 30px;
  box-shadow: var(--shadow-down-blk);
}
/* -------코스------- */
.course_area{
  width: 100%;
  min-height: 65px;
  max-width: 700px;
  margin: 0 auto;
  background-color: var(--color-light-purple);
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-dark-color);
  margin-bottom: 10px;
  margin-top: 20px;
}
.course_area:first-of-type{
  margin-top: 0;
}
.progress_name{
  display: flex;
  align-items: center;
  column-gap: 14px;
}
.course_name span.on{
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('../img/icon_goto_dark_pur.svg') no-repeat;
  background-position: bottom;
  margin-left: 8px;
}
.icon_goto{
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin-left: 7px;
}
.btn_arrow{
  cursor: pointer;
  width: 30px;
  text-align: right;
}
.btn_arrow img{
  width: 14px;
  transition: transform 0.3s ease;
}
.btn_arrow.on img{
  transform: rotate(180deg);
}
/* s: progress */
.pj_progress {
  width: 40px;
  height: 40px;
  aspect-ratio: 1 / 1;
  background: none;
  position: relative;
}
.pj_progress.stamp_on::after{
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 1000;
  background: url('../img/icon_cours_on_pink.svg') no-repeat;
  background-size: cover;
  border: 0;
}
.pj_progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid var(--color-light-bg);
  position: absolute;
  top: 0;
  left: 0;
}
.pj_progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.pj_progress .pj_progress_left {
  left: 0;
}
.pj_progress .pj_progress_bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.pj_progress .pj_progress_left .pj_progress_bar {
  left: 100%;
  border-top-right-radius: 180px;
  border-bottom-right-radius: 180px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  border-color: var(--primary-dark-color);
}
.pj_progress .pj_progress_right {
  right: 0;
}
.pj_progress .pj_progress_right .pj_progress_bar {
  left: -100%;
  border-top-left-radius: 180px;
  border-bottom-left-radius: 180px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  border-color: var(--primary-dark-color);
}
.pj_progress .pj_progress_value {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pj_progress_num {
  font-size: 17px;
  color: var(--primary-dark-color);
}
/* e: progress */
.course_con{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.course_info{
  display: flex;
  justify-content: space-between;
  padding: 0 10px 10px;
  border-bottom: 1px solid var(--color-light-purple);
  margin-bottom: 16px;
  font-size: 13px;
  font-weight: 500;
}
.course_info p span{
  color: var(--color-pink);
}
/* -------영수증------- */
#tabReceipt{
  text-align: center;
}
.card.con_receipt{
  margin-bottom: 70px;
}
.btn_participant_list, .btn_notice_more{
  font-size: 14px;
  font-weight: 500;
  padding: 7px 14px 7px 36px;
  background-color: var(--color-pale-purple); 
  color: var(--primary-color);
  cursor: pointer;
  display: inline;
  border-radius: 6px;
  position: relative;
}
.btn_participant_list::before, .btn_notice_more::before{
  content: '';
  position: absolute;
  display: inline;
  width: 18px;
  height: 18px;
  background: url('../img/icon_list_pur.svg') no-repeat;
  background-position: center;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
#tabReceipt h3{
  font-size: 20px;
  font-weight: 600;
}
#tabReceipt h3 span{
  color: var(--primary-color);
}
#tabReceipt .img_w{
  width: 100%;
  max-width: 260px;
  position: relative;
  margin: 0 auto;
}
#tabReceipt .img_w .top{
  position: absolute;
  background-color: #ff0000;
  width: 28px;
  height: 28px;
  right: 10px;
  top: 10px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#tabReceipt .img_w .top.yes{
  background-color: #5AFF51;
}
#tabReceipt .img_w .top img{
  width: 14px;
  height: 14px;
}
#tabReceipt img{
  border-radius: 10px;
}
.receipt_wrap{
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto 70px;
  row-gap: 26px;
}
#tabReceipt .receipt_wrap .img_w{
  width: 34%;
}
.receipt_wrap .img_w p{
  font-size: 14px;
}
#tabReceipt p.strong{
  font-weight: 500;
  font-size: 18px;
  position: relative;
  display: inline;
}
#tabReceipt p.strong::before{
  content: '';
  width: 22px;
  height: 22px;
  position: absolute;
  top: 0;
  left: -30px;
  border-radius: 100%;
  display: block;
  background-color: #ff0000;
  background-image: url('../img/icon_close_wht.svg');
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
}
.btn_notice_more{
  padding: 7px 32px 7px 14px;
}
.btn_notice_more::before{
  background: url('../img/icon_arrow_right_pur.svg') no-repeat;
  background-position: center;
  left: inherit;
  right: 6px;
  top: 50%;
}
.btn_receipt{
  position: fixed !important;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  max-width: 700px;
  width: 100%;
  padding: 0 30px;
}
/* -------정보------- */
#tabInfo p{
  font-size: 15px;
  margin-bottom: 6px;
}
#tabInfo p .title{
  font-weight: 600;
  color: var(--color-gray-600);
  min-width: 50px;
  display: inline-block;
}
#tabInfo .btn_area{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 18px;
  row-gap: 14px;
}
#tabInfo .btn_area>.btn{
  width: 100%;
  white-space: nowrap;
  max-width: 316px;
}
.btn{
  padding: 11px 30px;
  background-color: var(--color-pale-purple);
  color: var(--primary-color);
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.btn.disable{
  cursor: not-allowed;
  background-color: var(--color-gray-200);
  color: var(--color-gray-500);
}
.btn.staff{
  background-color: var(--color-static-white);
  border: 1px solid var(--primary-color);
}
.gift_helper{
  font-size: 14px;
  color: var(--primary-color);
  margin-bottom: 40px;
  font-weight: 400;
  margin-top: 4px;
}
.gift_helper span{
  color: var(--color-static-black);
}
#tabInfo .notice{
  font-size: 14px;
  color: var(--color-gray-500);
}
/* -------한마디------- */
#tabComment{
  margin-bottom: 70px;
}
.profile_id_date_delete{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.profile_id_date_delete>div:first-of-type{
  display: flex;
  align-items: center;
  column-gap: 6px;
}
.profile_id_date_delete>div:first-of-type img{
  width: 40px;
}
.profile_id_date_delete p.writer{
  font-size: 14px;
  font-weight: 500;
}
.profile_id_date_delete span{
  font-weight: 300;
  color: var(--color-gray-500);
  font-size: 13px;
}
.profile_id_date_delete .btn_delete, .btn_apply{
  font-weight: 600;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 15px;
  display: none;
}
.my .profile_id_date_delete .btn_delete, .btn_apply{
  display: block;
}
.send_area{
  display: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1024px;
  background-color: var(--color-static-white);
  padding: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
}
.send_area>div{
  position: relative;
}
.write_input{
  border: 0;
  background-color: var(--color-light-bg);
  width: 100%;
  padding: 17px 12px;
  border-radius: 30px;
}
.write_input::placeholder{
  color: var(--color-gray-500);
}
.btn_send{
  cursor: pointer;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: var(--gradient-primary);
  border-radius: 100%;
  box-shadow: var(--shadow-down-blk);
}
.btn_send::after{
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../img/icon_send_wht.svg') no-repeat;
  background-position: center;
  background-size: cover;
}
/* e: 축제상세_타입_01 */

/* s: 영수증 촬영, 인식, 이벤트 참여현황 */
.receipt_area{
  padding: 26px 0;
}
.btn_camera{
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: var(--color-pale-purple);
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_camera img{
  width: 26px;
}
/* -------로딩------- */
.loading_w{
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pl {
  display: block;
	width: 100px;
	height: 100px;
  margin: 0 auto;
}
.pl__ring, .pl__ball {
  animation: ring 3s ease-out infinite;
}
.pl__ball {
  animation-name: ball;
}
/* -------로딩------- */
.img_w.receipt{
  margin-top: 50px;
  text-align: center;
}
.img_w.receipt img{
  width: 100%;
  max-width: 260px;
  border-radius: 10px;
  margin-bottom: 12px;
}
.img_w.receipt h2{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}
.card.receipt div{
  display: flex;
  margin-bottom: 6px;
}
.card.receipt div p{
  font-size: 15px;
}
.card.receipt div p.title{
  font-weight: 600;
  color: var(--color-gray-600);
  min-width: 80px;
}
.card.receipt div p.title.wrong, .card.receipt div p.title.wrong + p{
  color: #ff0000;
}
.btn_auto{
  display: inline;
  border-bottom: 1px solid var(--color-gray-500);
  padding-bottom: 2px;
  cursor: pointer;
}
.tab_menu.receipt{
  max-width: 200px;
}
.tab_menu.receipt div {
  width: 50%;
}
.card .list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-light-purple);
  padding-bottom: 14px;
  margin-bottom: 14px;
}
.card .list:last-of-type{
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.card .list img{
  width: 40px;
  height: 40px;
  border: 0.5px solid var(--color-gray-500);
  border-radius: 100%;
  object-fit: cover;
  margin-right: 10px;
}
.list .num{
  text-align: center;
  width: 44px;
  margin-right: 6px;
}
.list .nickname{
  display: flex;
  align-items: center;
  column-gap: 6px;
  font-size: 15px;
  font-weight: 400;
}
.list .date{
  font-size: 13px;
  color: var(--color-gray-500);
  letter-spacing: 0;
}
.list .nickname span{
  display: none;
}
.list.my .nickname span{
  display: block;
  padding: 1px 8px;
  font-size: 8px;
  font-weight: 600;
  background-color: var(--color-pale-purple);
  color: var(--primary-color);
  border-radius: 2px;
}
.list .icon img{
  display: none;
}
.list.my .icon img{
  display: block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 0;
  object-fit: cover;
  margin-right: 0;
  margin-right: 8px;
}
/* e: 영수증 촬영, 인식, 이벤트 참여현황 */

/* s: 큐알 인증 */
.camera_area{
  width: 100%;
  max-width: 1024px;
  height: 98vh;
  top: 0;
  position: fixed;
  z-index: -1;
  background: var(--color-black-opa-50);
}
.camera_line{
  width: 50vw;
  max-width: 280px;
  min-width: 240px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}
.camera_text_area{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 170px;
  background-color: var(--color-light-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  line-height: 1.4;
  font-size: 17px;
}
/* e: 큐알 인증 */

/* s: 스탬프 상세 */
.bg_stamp_detail{
  width: 100%;
  height: 44vh;
  background: url('../img/img_poster.jpg') no-repeat;
  background-size: cover;
}
.card{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  background-color: var(--color-static-white);
  padding: 26px 24px;
  border-radius: 20px;
  box-shadow: var(--shadow-all-blk);
  margin-bottom: 20px;
}
.card.info{
  margin-top: -40px;
}
.card h1, .card h2{
  font-size: 22px;
  font-weight: 700;
}
.card .stamp_info{
  font-size: 15px;
}
.card .btn_smart_commentary{
  max-width: 150px;
  margin: 0 auto;
  border-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  background-color: var(--color-light-bg);
  padding: 7px 10px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
.card .btn_smart_commentary img{
  width: 11px;
}
.card .arrow{
  width: 12px;
  cursor: pointer;
}
.card .stars{
  display: flex;
  column-gap: 8px;
}
.card .stars img{
  width: 26px;
}
.card .map_area{
  border: 0.5px solid var(--color-gray-500);
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 240px;
}
.card.stamping{
  display: flex;
  align-items: center;
  background: var(--gradient-primary);
  color: var(--color-static-white);
  column-gap: 16px;
}
.card.stamping.off{
  display: none;
}
.card.stamping img{
  opacity: 0.8;
  width: 46px;
}
.card.stamping p.title{
  font-weight: 600;
}
.card.stamping p:last-of-type{
  font-size: 13px;
}
/* e: 스탬프 상세 */

/* s: 평정 및 리뷰 */
.inner_magin{
  height: 90px;
}
.star_rating {
  color: #B0ADB6;
  font-size: 24px;
  width: 80%;
  max-width: 280px;
  margin: 0 auto;
	white-space: nowrap;
  display: flex;
  justify-content: space-around;
}
.star_rating [type="radio"] {
	appearance: none;
  display: none;
}
.star_rating i {
  cursor: pointer;
	font-size: 1.2em;
	transition: 0.3s;
}
.star_rating label:is(:hover, :has(~ :hover)) i {
	color: var(--primary-color);
}
.star_rating label:has(~ :checked) i {
	color: var(--primary-color);
}
.review_comment{
  background-color: var(--color-static-white);
  border: 1px solid var(--color-light-purple);
  width: 100%;
  padding: 10px 12px;
  border-radius: 10px;
  min-height: 100px;
}
.review_comment::placeholder{
  color: var(--color-gray-500);
  font-size: 15px;
}
.profile_id_date_delete .stars{
  column-gap: 2px;
}
.profile_id_date_delete .stars img{
  width: 10px !important;
}
/* e: 평정 및 리뷰 */

/* s: 선물 신청 */
.gift_apply label{
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}
.gift_apply label.essential::after{
  content: '*';
  font-size: 15px;
  margin-left: 6px;
  color: var(--primary-color);
}
.input_control{
  background-color: var(--color-static-white);
  border: 1px solid var(--color-light-purple);
  display: block;
  width: 100%;
  border-top: 0; border-left: 0; border-right: 0;
  padding: 4px;
}
.input_control::placeholder{
  color: var(--color-gray-500);
  font-size: 15px;
}
.gift_apply_helper{
  max-width: 700px;
  width: 100%;
  font-size: 14px;
  padding-left: 20px;
  margin: 4px auto 20px;
  color: var(--color-gray-700);
}
.btn_address{
  font-size: 14px;
  white-space: nowrap;
  padding: 6px 16px;
  border-radius: 6px;
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
  background-color: var(--color-pale-purple);
  margin-left: 10px;
}
.card.privacy p{
  font-size: 14px;
  line-height: 1.6;
}
.btn_gift_apply{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--color-static-white);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 30px;
  box-shadow: var(--shadow-down-blk);
}
.privacy_helper{
  text-align: center;
  font-size: 14px;
  color: var(--color-gray-700);
  margin-bottom: 30px;
}
/* e: 선물 신청 */

/* s: 룰렛 추첨 */
.roulette_area{
  margin: 40px 0;
  text-align: center;
}
.roulette{
  position: relative;
  background: var(--color-static-white);
  margin: 0 auto;
  width: 100%;
  max-width: 260px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  margin-bottom: 30px;
}
.btn_inner_start{
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-static-white);
  background-color: var(--primary-color);
  width: 44px;
  height: 44px;
  border-radius: 100%;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 44px;
  outline: 6px solid #FFEE6D;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}
.btn_start_wrap .btn_roulette_start.disable+.btn_helper{
  display: none;
}
.btn_roulette_start{
  cursor: pointer;
  background: var(--gradient-pink-purple);
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  color: var(--color-static-white);
  padding: 15px 0;
  box-shadow: var(--shadow-down-blk);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  border-radius: 30px;
}
.btn_roulette_start.disable{
  background: var(--color-gray-500);
  color: var(--color-gray-200);
}
.btn_helper{
  margin-top: 26px;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-static-white);
  background-color: var(--color-static-black);
  display: inline-block;
  padding: 8px 20px;
  border-radius: 6px;
  position: relative;
  -webkit-animation: move 1s infinite;
  animation: move 1s infinite;
}
.btn_helper::before{
  content: '';
  width: 14px;
  height: 14px;
  display: inline-block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background-color: var(--color-static-black);
}
/* -------당첨 됐을 때------- */
.wrap.roulette_win{
  position: relative;
}
.bg_blink{
  width: 26px;
  aspect-ratio: 1 / 1;
  background: url('../img/icon_light_pnk.svg') no-repeat;
  background-size: contain;
  position: absolute;
  animation: blink 1.5s ease infinite;
}
.bg_blink.lo_01{
  top: 18%;
  left: 12%;
  animation-duration: 2.7s;
}
.bg_blink.lo_02{
  background: url('../img/icon_light_pur.svg') no-repeat;
  top: 13%;
  right: 10%;
  background-size: contain;
}
.bg_blink.lo_03{
  background: url('../img/icon_light_pur.svg') no-repeat;
  top: 37%;
  left: 21%;
  background-size: contain;
}
.bg_blink.lo_04{
  top: 30%;
  right: 22%;
  animation-duration: 2.7s;
}
.bg_blink.lo_05{
  top: 60%;
  left: 15%;
  animation-duration: 1.9s;
}
.bg_blink.lo_06{
  background: url('../img/icon_light_pur.svg') no-repeat;
  top: 47%;
  right: 13%;
  background-size: contain;
}
.bg_blink.lo_07{
  top: 70%;
  right: 18%;
  animation-duration: 2.4s;
}
.roulette_area .roulette_win h1{
  font-size: 28px;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 14px;
}
.roulette_area .roulette_win h2{
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 30px;
}
.roulette_area .roulette_win img{
  margin: 0 auto;
  max-width: 180px;
  aspect-ratio: 1 / 1;
  margin-bottom: 30px;
}
/* e: 룰렛 추첨 */

/* s: 계정 */
.btn_close{
  position: absolute;
  top: -50px;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: var(--color-static-white);
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_close img{
  width: 16px;
}
.modal_content.img{
  padding: 20px 26px 20px;
}
.modal_content.img .modal_button div{
  width: 100%;
  background-color: var(--color-pale-purple);
  color: var(--primary-color);
  font-size: 16px;
  padding: 12px;
  border-radius: 10px;
  position: relative;
}
.btn_take_picture::before, .btn_choose_img::before{
  content: '';
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  display: block;
  background: url('../img/icon_camera_pur.svg') no-repeat;
  background-size: 26px;
  background-position: center;
}
.btn_choose_img::before{
  background: url('../img/icon_gallery_pur.svg') no-repeat;
  background-size: 24px;
  background-position: center;
}
.img_profile_area{
  margin: 50px auto 14px;
  width: 80px;
  position: relative;
}
.img_profile_area img{
  border: 0.5px solid var(--color-gray-500);
  border-radius: 100%;
}
.img_profile_area.member .btn_gallery{
  display: block;
}
.btn_gallery{
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 2px;
  right: 0;
  width: 22px;
  height: 22px;
  background: url('../img/icon_camera_gry.svg') no-repeat center;
  background-color: var(--color-static-white);
  background-size: 13px;
  border-radius: 100%;
}
.card.member div{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-bottom: 20px;
}
.card.member div:last-of-type{
  margin-bottom: 0;
}
.card.member .strong{
  width: 70px;
  font-weight: 500;
  font-size: 15px;
}
.card.member .info{
  width: 100%;
  position: relative;
  padding-left: 20px;
}
.card.member .info::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 300%;
  display: inline-block;
  background-color: var(--color-light-purple);
}
.card.member div:first-of-type .info::before, .card.member div:last-of-type .info::before{
  height: calc(100% - 6px);
}
.btn_area.profile{
  max-width: 700px;
  width: 100%;
  margin: 100px auto 40px;
  display: flex;
  justify-content: center;
  column-gap: 40px;
}
.btn_area.profile div{
  cursor: pointer;
  padding: 6px;
  width: 150px;
  background-color: var(--color-gray-300);
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  border-radius: 30px;
}
.card.non_member{
  background: linear-gradient(135deg, rgba(217,56,130,0.8) 0%, rgba(105,69,226,0.8) 100%);
  color: var(--color-static-white);
}
.card.non_member h2{
  font-size: 18px;
  font-weight: 500;
}
.card.non_member .btn{
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-static-white);
  margin-top: 20px;
}
/* e: 계정 */

/* s: 나의 기록 */
.history_helper{
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 6px;
}
.history_list{
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-light-purple);
  padding-bottom: 14px;
  margin-bottom: 14px;
  column-gap: 20px;
}
.history_list:last-of-type{
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.history_list .img{
  width: 20px;
  height: 20px;
  background: url('../img/icon_prize_pnk.svg') no-repeat;
  background-position: center;
  background-size: 17px;
}
.history_list.stamp .img{
  background: url('../img/icon_stamp_pur.svg') no-repeat;
  background-size: 16px;
}
.history_list.book .img{
  background: url('../img/icon_book_mint.svg') no-repeat;
  background-position: center;
  background-size: 14px;
}
.history_list .text{
  font-size: 15px;
  font-weight: 400;
}
.history_list.gift .text span{
  color: var(--color-pink);
}
.history_list.stamp .text span{
  color: var(--primary-color);
}
.history_list.book .text span{
  color: var(--color-mint);
}
.history_list .text .date{
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 200;
  color: var(--color-gray-500);
}
/* e: 나의 기록 */

/* s: 로그인 */
.wrap.login{
  background-color: var(--color-static-white);
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  position: relative;
}
.wrap.login>.inner{
  padding: 0 50px;
  width: 100%;
  max-width: 600px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.wrap.login>.inner>img{
  width: 100%;
  max-width: 240px;
  margin-bottom: 20px;
}
.btn_kakao_login{
  position: relative;
  background-color: #FEE500;
  column-gap: 20%;
  color: var(--color-static-black);
}
.btn_kakao_login::before{
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url('../img/icon_kakao_login.svg') no-repeat;
  background-size: contain;
}
.btn_kakao_login p{
  padding-left: 20px;
  font-weight: 400;
}
/* e: 로그인 */


































@keyframes bg_move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ring {
	from {
		stroke-dasharray: 0 257 0 0 1 0 0 258;
	}
	25% {
		stroke-dasharray: 0 0 0 0 257 0 258 0;
	}
	50%, to {
		stroke-dasharray: 0 0 0 0 0 515 0 0;
	}
}
@keyframes ball {
	from, 50% {
		animation-timing-function: ease-in;
		stroke-dashoffset: 1;
	}
	64% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -109;
	}
	78% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -145;
	}
	92% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -157;
	}
	57%, 71%, 85%, 99%, to {
		animation-timing-function: ease-out;
		stroke-dashoffset: -163;
	}
}


@media (max-width: 1024px) {
  .float_menu{
    width: calc(100% - 60px);
  }
  .wrap::before, .wrap::after{
    display: none;
  }
}
@media (max-width: 620px) {
  .body_gate .wrap{
    padding: 0 30px;
  }
  .poster{
    top: 33%;
  }
  .poster img{
    width: 42%;
  }
  .header_wrap {
    height: 66px;
  }
  header{
    padding: 0 16px;
    height: 60px;
  }
  header .arrow_left{
    width: 23px;
  }
  header .arrow_left img{
    width: 12px;
  }
  input#hamburger + label {
    width: 23px;
    height: 19px;
  }
  input#hamburger + label span {
    height: 3px;
  }
  .poster_area img {
    margin-top: 60px;
  }
  .poster_area{
    height: 430px;
  }
  .contents_area{
    padding: 20px 0;
  }
  .inner{
    padding: 0 22px;
  }
  .stamp_thumb>img{
    width: 60px;
  }
  .stamp_contents .info{
    width: calc(100% - 76px);
  }
  .float_menu{
    width: calc(100% - 32px);
  }
  .float_menu .qr{
    margin-top: 10px;
  }
  .tab_menu{
    max-width: 320px;
  }
  .card{
    padding: 26px 16px;
  }
  .send_area{
    padding: 18px 12px;
  }
  .float_menu .btn_gift{
    width: calc(100% - 80px);
    padding: 15px;
    font-size: 17px;
  }
  .review_comment{
    min-height: 140px;
  }
  .bg_blink{
    width: 20px;
  }
  #tabReceipt .receipt_wrap .img_w{
    width: 44%;
  }
  .btn_receipt{
    padding: 0 22px;
  }
}
@media (max-width: 420px) {
  .period{
    font-size: 15px;
  }
  .inner, .btn_receipt{
    padding: 0 18px;
  }
  .tab_con .btn_area{
    flex-wrap: wrap;
  }
}
  