@charset "utf-8";

:root {
    --primary-color: #977F68;
    --primary-light-color: #BB9A47;
    --primary-color-light: #AC9986;
    --primary-color-light02: #F0EBDF;
    --secondary-color: #394674;
    --light-grey: #F1F1F1;
    --middle-grey: #B9B7B7;
    --dark-grey: #56504C;
    --background-color: #F9F9F9;
    --white-color: #fff;
    --orange-color: #EF8625;
    --red-color: #ff0000d0;
    --bg-black-op-5: #0000004b;
    --shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    --box-shadow-color: #977f682b;
    --border-color: #e5e5e5;
    --hover-background-color: #f7f7f7;

    --data-label-color02: #D4BDAC;
    --data-label-color03: #FFF1DB;
    --data-label-color04: #88C273;
    --data-label-color05: #536493;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
footer,
div,
input,
textarea,
button,
label,
table,
thead,
tbody,
li,
tr,
th,
td {
    font-family: 'Pretendard';
    letter-spacing: -0.5px;
}

button {
    background: none;
}

li {
    list-style-type: none;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    background: var(--bg-black-op-5);
    z-index: 201;
}

.modal_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    background: var(--white-color);
    z-index: 101;
    border-radius: 20px;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, .5);
}

.modal_wrap.warning {
    width: 350px;
    padding: 30px;
    text-align: center;
}

.modal_wrap img {
    width: 40px;
}

.modal_wrap .text {
    font-size: 17px;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_wrap .btn {
    padding: 13px 45px;
    border-radius: 8px;
    font-size: 16px;
}

.modal_wrap .btn.ok {
    background: var(--primary-color);
    color: var(--white-color);
}




body {
    background: var(--background-color);
}

body.login>section {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 987px;
    height: 565px;
    background: var(--white-color);
    box-shadow: 0px 3px 9px rgba(151, 127, 104, .25);
}

body.login section .login_area {
    display: flex;
    justify-content: center;
}

body.login section .login_area .login_w {
    padding-top: 90px;
    text-align: center;
}

body.login section .login_area label {
    background: var(--primary-color-light02);
    color: var(--dark-grey);
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 13px;
    max-width: 115px;
}

body.login section .login_area label {
    background: var(--primary-color-light02);
    color: var(--dark-grey);
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 13px;
}

body.login section .login_area .login_input_w label {
    color: var(--secondary-color);
    background: none;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    width: 55px;
    text-align: right;
    padding: 0;
}

.login_video {
    position: relative;

    div {
        position: absolute;
        background: #745f4c52;
        z-index: 20;
        width: 100%;
        height: 100%;
    }
}

.login_video video {
    max-width: 400px;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

input.box,
textarea {
    border: 0;
    background: var(--white-color);
    padding: 12px 16px;
    font-size: 15px;
    border-radius: 8px;
    box-shadow: 0px 3px 9px rgba(151, 127, 104, .25);
    min-width: 280px;
    box-sizing: border-box;
}

input {
    position: relative;
    border: 0;
    padding: 12px 16px;
    font-size: 15px;
    border-bottom: 1px solid var(--middle-grey);
    /* box-shadow: 0px 3px 9px rgba(151, 127, 104, .25); */
    min-width: 280px;
}

input::placeholder,
textarea::placeholder {
    font-size: 13px;
    font-weight: 300;
}

input.box:hover,
input.box:focus {
    border: 1px solid var(--primary-color);
    outline-offset: -1px;
    margin: -1px;
}

textarea:focus {
    border: 1px solid var(--primary-color);
    outline-offset: 1px;
}

input:focus,
input:hover {
    border-bottom: 1px solid var(--primary-color);
    outline-offset: -1px;
}

body.login section .login_area button {
    background: var(--primary-color);
    color: var(--white-color);
    padding: 15px 0px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
}

h1 {
    font-family: "Noto Serif KR";
    font-size: 36px;
    font-weight: 500;
    line-height: -2px;
}

h1 b {
    font-family: "Noto Serif KR";
    color: var(--primary-light-color);
}

/* 변호사 현황 */
header {
    width: 100%;
    height: 90px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);

    img {
        width: 150px;
    }

    h1,
    b {
        font-family: "Noto Serif KR";
        color: var(--white-color);
        font-size: 30px;
    }
}

header .btn_logout {
    position: relative;
    background: var(--primary-color-light02);
    padding: 10px 30px;
    text-align: center;
    border-radius: 20px;
    color: var(--dark-grey);
    cursor: pointer;
    overflow: hidden;
}

header .btn_logout_mobile_wrap {
    display: none;

    .btn_logout_mobile {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 20px;
        background: var(--primary-color-light02);

        img {
            width: 18px;
        }

        .dropmenu {
            position: absolute;
            top: 48px;
            right: -24px;
            padding: 12px 6px 6px;
            width: 132px;
            text-align: center;
            color: var(--primary-color);
            background: var(--primary-color-light02);
            border-radius: 8px;
            z-index: 99;

            p:not(:last-of-type) {
                margin-bottom: 8px;
            }

            p:last-of-type {
                padding: 8px 0;
                background: var(--primary-color);
                border-radius: 4px;
                color: var(--white-color);
            }

            p {
                font-size: 15px;
                font-weight: 500;

                img {
                    width: 12px;
                    margin-right: 6px;
                    opacity: 0.7;
                }
            }

            ul {
                padding: 8px 0 16px 0;
                margin: 0 4px 16px 4px;
                border-bottom: 1px solid #d6cec5;
            }
        }

    }
}

label.account {
    transition: opacity 0.3s ease;
}

header .logout {
    opacity: 0;
    position: absolute;
    display: flex;
    left: 0;
    top: 30%;
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: 500;
}

header .logout::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: url(http://test.s1.unipware.com/AILawyer_MVP1/admin/images/ico_header_logout.svg) 50% 50% no-repeat;
}

.btn_logout:hover label.account {
    opacity: 0;
}

.btn_logout:hover label.logout {
    opacity: 1;
    left: 50%;
    width: 80px;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}


aside {
    position: absolute;
    width: 350px;
    height: calc(100vh - 90px);
    background-color: var(--white-color);
    padding: 20px;
    box-shadow: 8px 0px 15px rgba(151, 127, 104, .25);
    z-index: 10;

    left: -100%;
    transition: left 0.6s ease;
    /* 애니메이션 효과 */
}

aside .lawyer_init {
    display: none;
    width: 100%;
    height: 100%;
    background: var(--primary-color-light02);

    .lawyer_init_w {
        height: 100%;
    }

    img {
        width: 180px;
    }

    span {
        line-height: 2;
        color: var(--primary-color);
        font-weight: 500;
    }
}

aside .lawyer_detail {
    display: none;
    height: -webkit-fill-available;

    .top {
        display: flex;
        justify-content: space-between;
    }

    .top label {
        background: var(--primary-color-light02);
        padding: 8px 15px;
        border-radius: 20px;
        font-size: 14px;
        color: var(--dark-grey);
        display: flex;
        align-items: center;
    }

    .top label::before {
        content: "";
        background: url(http://test.s1.unipware.com/AILawyer_MVP1/admin/images/ico_counsel.svg) no-repeat;
        width: 30px;
        height: 20px;
        display: block;
    }

    .top label span {
        font-weight: 500;
        font-size: 16px;
        margin-left: 5px;
    }

    .top img {
        width: 20px;
        transition: transform 0.3s ease;
    }

    .top .ico_close:hover {
        transform: rotate(90deg);
    }

    button {
        width: 100%;
        border-radius: 8px;
        background: var(--white-color);
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
    }
}

aside .lawyer_detail.active,
aside .lawyer_add.active,
.lawyer_init.active {
    display: block;
}

aside .lawyer_add {
    height: 100%;
    display: none;

    .top {
        display: flex;
        justify-content: end;
    }

    .top img {
        width: 20px;
        transition: transform 0.3s ease;
    }

    .top .ico_close:hover {
        transform: rotate(90deg);
    }

    button {
        width: 100%;
        border-radius: 8px;
        background: var(--white-color);
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
    }

    input {
        width: 100%;
        min-width: 100px;
        padding: 8px 10px;
    }

    textarea {
        width: 100%;
        min-width: 100px;
        padding: 8px 10px;
        height: 70px;
        resize: none;
        border-radius: 0;
    }

    dd button {
        width: 80px;
        padding: 8px 0;
        font-size: 14px;
        border-radius: 4px;
        background: var(--white-color);
        border: 1px solid var(--secondary-color);
        color: var(--secondary-color);
        font-weight: 500;
        margin: 0 5px 5px 0;
    }

    dd button:hover {
        background: #3946743b;
        color: var(--secondary-color);
    }

    dd button.active {
        background: var(--secondary-color);
        color: var(--white-color);
    }
}

aside.show {
    left: 0;
    /* 화면 안으로 들어오도록 설정 */
}

.aside_photo {
    display: flex;
    justify-content: center;

    .photo_w {
        border-radius: 100%;
        height: 88px;
        width: 88px;
        background: var(--white-color);
        box-shadow: 0px 3px 9px rgba(151, 127, 104, .25);
        background: url(http://test.s1.unipware.com/AILawyer_MVP1/admin/images/img_profile.svg) 50% 50% no-repeat;
        background-size: cover;
    }

    .photo_w img:first-child {
        width: 110px;
    }

    .ico_image_edit {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30px;
        cursor: pointer;
    }
}

.aside_profile {
    text-align: center;

    label {
        font-size: 18px;
        font-weight: 500;

    }

    span {
        font-weight: 700;
    }

    img {
        width: 20px;
        cursor: pointer;
    }

    .bubble {
        opacity: 0;
        position: absolute;
        background: #00000070;
        color: var(--white-color);
        font-size: 14px;
        padding: 5px;
        border-radius: 5px;
        top: 25px;
        font-weight: 300;
        display: flex;
        align-items: center;
        transition: opacity 0.7s ease;
    }

    .bubble.show {
        opacity: 1;
    }

    .bubble::before {
        content: "";
        width: 20px;
        height: 10px;
        background: url(http://test.s1.unipware.com/AILawyer_MVP1/admin/images/ico_check.svg) 50% 50% no-repeat;
    }
}

.aside_contents {
    padding: 0 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    dl+dl {
        margin: 4px 0;
    }

    dt {
        font-size: 16px;
        color: var(--primary-color);
        font-weight: 600;
        width: 65px;
    }

    dd {
        font-size: 16px;
        font-weight: 500;
    }

    /* dd label{
        background:var(--secondary-color);
        color: var(--white-color);
        border-radius: 10px;
        padding: 5px 10px;
        font-size: 15px;
        display:inline-block;
    }
    dd label:first-of-type {
        margin-bottom: 5px;
    } */
}

.aside_contents.edit {

    .buttons {
        margin: 0 0 10px;
    }
}

aside .logout {
    color: var(--white-color);
    font-size: 18px;
    padding: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 25px;
    left: 20%;
}

aside .logout::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: url(http://test.s1.unipware.com/AILawyer_MVP1/admin/images/ico_aside_logout.svg) no-repeat;
}

button.btn.cancel {
    background: var(--light-grey);
}

button.btn+.btn {
    margin-left: 10px;
}

main {
    /* width: calc(100% - 350px); */
    height: calc(100vh - 138px);
    overflow-y: auto;
    margin-left: 350px;
    transition: all 0.7s ease;
}

main.full {
    width: 100%;
    margin-left: 0px;
}

main.with_aside {
    width: calc(100% - 350px);
    margin-left: 350px;
}

main.with_aside.data {
    width: 100%;
    margin-left: 0;

    section {
        padding: 5vw 18vw 2vw 18vw;
        transition: all 0.4s ease;
    }

    section.open {
        padding: 5vw 7vw 2vw 25vw;
        transition: all 0.4s ease;
    }
}

.period_area {
    background: var(--white-color);
    box-shadow: -3px 3px 15px var(--box-shadow-color);
    padding: 10px 30px;

    .title {
        color: var(--primary-color);
        font-size: 15px;
        font-weight: 600;
    }

    .title:after {
        content: "";
        margin-left: 20px;
        border-right: 2px solid var(--light-grey);
    }

    input {
        padding: 12px 16px;
        font-size: 15px;
        border: 0;
        min-width: auto;
    }

    .period button {
        color: var(--middle-grey);
        font-size: 16px;
        margin-left: 15px;
    }

    .period button.active {
        color: var(--primary-color);
        font-weight: 600;
    }

    .date .btn_search {
        background: var(--primary-color);
        border-radius: 4px;
        padding: 7px;
    }
}

.empty_text {
    font-size: 13px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--middle-grey);
    width: 100%;
}

.section {
    box-shadow: -3px 3px 15px var(--box-shadow-color);
    margin-bottom: 50px;

    .title {
        background: var(--primary-color-light02);
        width: 100%;
        padding: 15px 20px;
        color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        cursor: pointer;
    }

    .title img {
        width: 20px;
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }

    .title img.reverse {
        transform: rotate(0deg);
    }

    .contents {
        background: var(--white-color);
        padding: 30px;
    }

    .contents hr {
        border: 1px solid var(--light-grey);
        margin-right: 2vw;
    }

    .contents>div {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .contents>div.center {
        justify-content: center;
    }

    .contents span {
        display: block;
        color: var(--middle-grey);
    }

    .contents dt {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        word-break: keep-all;
    }

    .contents dl.user dt::before {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        background: url(http://test.s1.unipware.com/AILawyer/images/ico_data_user.svg) 50% no-repeat;
        margin-right: 5px;
    }

    .contents dl.lawyer dt::before {
        content: "";
        display: block;
        width: 20px;
        height: 15px;
        background: url(http://test.s1.unipware.com/AILawyer/images/ico_data_lawyer.svg) 50% no-repeat;
        margin-right: 5px;
    }

    .contents dd {
        font-size: 30px;
        color: var(--primary-color);
        font-weight: 600;
        word-break: keep-all;
    }

    .datalabels label {
        text-align: center;
        display: flex;
        align-items: center;
        color: var(--dark-grey);
        font-weight: 600;
    }

    .datalabels.horizontal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .datalabels.horizontal label {
        text-align: center;
        display: flex;
        align-items: center;
        color: var(--dark-grey);
        font-weight: 600;
    }

    .datalabels>div {
        text-align: center;
    }
    .datalabels.horizontal>div {
        display: flex;
        justify-content: space-between;
    }

    .datalabels>div span {
        margin-top: 6px;
        color: #444444;
        display: block;
        font-weight: 500;
        text-align: center;
        margin-left: 15px;
    }

    .datalabels.horizontal>div span {
        margin-top: 0;
        color: #444444;
        display: block;
        font-weight: 500;
        text-align: center;
        margin-left: 0;
    }

    .datalabels.horizontal>div>span {
        min-width: 70px;
        text-align: end;
    }

    .datalabels label.sexual_offenses::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--primary-color);
        margin-right: 5px;
    }

    .datalabels label.dui::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--data-label-color02);
        margin-right: 5px;
    }

    .datalabels label.divorce::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--data-label-color03);
        margin-right: 5px;
    }

    .datalabels label.property_crime::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--data-label-color04);
        margin-right: 5px;
    }

    .datalabels label.administrative_litigation::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--data-label-color05);
        margin-right: 5px;
    }

    .chart_warp {
        margin-bottom: 50px;
    }

    hr {
        border: 1px solid var(--light-grey);
    }
}

.section.user {
    .bar_chart_warp {
        label {
            color: var(--dark-grey);
            font-weight: 600;
        }
    }

    .bar_chart {
        width: 80%;
        background: var(--light-grey);
        height: 30px;
        position: relative;
    }

    .bar_chart .value.chatbot {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 90%;
        background: var(--primary-color);
        height: 30px;
    }

    .bar_chart .value.lawyer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 60%;
        background: var(--primary-color);
        height: 30px;
    }

    button.btn_satisfaction {
        background: var(--primary-color);
        color: var(--white-color);
        border-radius: 20px;
    }

    .average_warp>div:first-child {
        border: 1px solid var(--light-grey);
        border-radius: 4px;
        padding: 10px 13px;
    }

    .average_warp>div span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--primary-color);
        font-size: 18px;
        font-weight: 600;
    }

    .average_warp>div span p {
        color: #000;
        font-size: 20px;
        font-weight: 600;
    }

    .average_warp>div img {
        width: 20px;
    }

    .satisfaction label {
        word-break: keep-all;
    }

    .satisfaction>div+div {
        margin-top: 10px;
    }

    .satisfaction .bar_chart {
        height: 15px;
        border-radius: 3px;
    }

    .satisfaction .bar_chart .value.five {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 90%;
        background: var(--orange-color);
        height: 15px;
        border-radius: 3px;
    }

    .satisfaction .bar_chart .value.four {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 75%;
        background: var(--orange-color);
        height: 15px;
        border-radius: 3px;
    }

    .satisfaction .bar_chart .value.three {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 60%;
        background: var(--orange-color);
        height: 15px;
        border-radius: 3px;
    }

    .satisfaction .bar_chart .value.two {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 30%;
        background: var(--orange-color);
        height: 15px;
        border-radius: 3px;
    }

    .satisfaction .bar_chart .value.one {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 10%;
        background: var(--orange-color);
        height: 15px;
        border-radius: 3px;
    }
}

.contents .datalabels label+label {
    margin-left: 20px;
}

.chart_warp>div {
    position: relative;
}

.chart_warp label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    font-weight: 500;
}

canvas#allConsultationFieldUsageRate,
canvas#userConsultationFieldUsageRate {
    max-height: 140px;
    max-width: 18vw;
}

canvas#lawyerConsultationFieldUsageRate {
    max-height: 140px;
    max-width: 25vw;
}

canvas#userDocumentUsageRateSexualOffenses,
canvas#userDocumentUsageRateDUI,
canvas#userDocumentUsageRateDivorce,
canvas#userDocumentUsageRatePropertyCrime,
canvas#userDocumentUsageRateAdministrativeLitigation,

canvas#lawyerDocumentUsageRateSexualOffenses,
canvas#lawyerDocumentUsageRateDUI,
canvas#lawyerDocumentUsageRateDivorce,
canvas#lawyerDocumentUsageRatePropertyCrime,
canvas#lawyerDocumentUsageRateAdministrativeLitigation {
    max-height: 150px;
    max-width: 9vw;
}

main>section {
    width: 100%;
    padding: 80px 100px 0;
}

main>section .search_area {
    position: relative;
}

main>section .search_area img {
    position: absolute;
    width: 23px;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    z-index: 9;
}

main>section .search_area input {
    padding: 12px 16px 12px 45px;
    min-width: 370px;
}

.btn.main {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 55px;
}

.btn.border {
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 55px;
}

main>section .btn.main {
    padding: 0 55px;
    display: flex;
    align-items: center;
}

main>section .btn.main.add::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: url(http://test.s1.unipware.com/AILawyer_MVP1/admin/images/ico_plus.svg) 50% 50% no-repeat;
    transition: transform 0.5s ease-in-out;
}

main>section .btn.main.add:hover::before {
    transform: rotate(180deg);
}

main>section table {
    margin-top: 26px;
    width: 100%;
}

main>section table thead tr th {
    background: var(--primary-color);
    color: var(--white-color);
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
    border-bottom: 6px solid var(--background-color);
}

main>section table tbody tr {
    background-color: var(--white-color);
}

main>section table tbody tr td {
    padding: 5px 7px;
    text-align: center;
    align-content: center;
    font-size: 16px;
    border-bottom: 6px solid var(--background-color);
    height: 47px;
}

main>section table tbody tr.active td {
    background: var(--primary-color-light02);
}

main>section table tbody tr:hover {
    transition: transform 0.3s ease;
    background: var(--primary-color-light02);
    font-weight: 600;
}

main>section table tbody tr.active:hover {
    font-weight: 600;
}

main>section table tbody tr td img {
    width: 23px;
    cursor: pointer;
    margin-top: 3px;
    z-index: 10;
}

main>section table tbody tr.no_result_cell {
    height: 500px;

    td {}
}

main>section table tbody tr.no_result_cell:hover {
    background: var(--white-color);
    font-weight: 400;
}

.pagination {
    display: flex;
    font-size: 15px;
    padding: 28px 0 0 0;
}

.pagination ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination .init {
    background: url(http://test.s1.unipware.com/unipware/images/ico_arrow_double_left.svg) no-repeat right;
}

.pagination .prev {
    background: url(http://test.s1.unipware.com/unipware/images/ico_arrow_left.svg) no-repeat center;
}

.pagination .next {
    background: url(http://test.s1.unipware.com/unipware/images/ico_arrow_left.svg) no-repeat center;
    transform: rotate(180deg);
}

.pagination .last {
    background: url(http://test.s1.unipware.com/unipware/images/ico_arrow_double_right.svg) no-repeat left;
}

.pagination li.is-active {
    border-radius: 100%;
    color: var(--white-color);
    background: var(--primary-color);
    font-weight: 400;
}

.pagination li {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    text-align: center;
    margin: 0 2px;
    color: #a3a3a3;
    cursor: pointer;
}

.pagination li:hover:not(.pagi_arrow) {
    border-radius: 100%;
    border: 1px solid var(--primary-color);
}

section .lawyer_add {
    background: var(--white-color);
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 40px;
    min-width: 900px;
}

section .lawyer_add .scroll {
    height: 100%;
    overflow-y: scroll;
    padding-right: 15px;
}

/* 스크롤 */

.scroll {
    margin: 0 2px;
    overflow-y: auto;
}

.scroll::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #d2d2d2;
    border-radius: 5px;
    height: 10%;
}

.scroll::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 5px;
}

.s_hover.scroll::-webkit-scrollbar-track,
.s_hover.scroll::-webkit-scrollbar-thumb {
    visibility: hidden;
}

.s_hover.scroll:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

footer {
    width: calc(100% - 350px);
    height: 48px;
    padding-top: 10px;
    font-size: 13px;
    color: var(--middle-grey);
    text-align: center;
    position: fixed;
    bottom: 0;
    font-weight: 200;
    right: 0;
    transition: all 0.3s;
}

footer.data {
    width: 100%;
}

/* (수정 - 241212) 변호사 현황 */
header {
    >.menu {
        position: relative;
        display: flex;
        margin: 0 60px 0 auto;

        >li {
            position: relative;
            padding: 20px 0;
            cursor: pointer;
            font-weight: 500;
            color: var(--white-color);

            img {
                width: 16px;
            }

            ul {
                display: none;
                width: 132px;
            }
        }

        >li:hover {
            ul {
                display: block;
            }
        }

        >li:not(.active):hover:after {
            transform: scaleX(1) translateY(5px);
        }

        >li:not(.active):after {
            display: block;
            content: '';
            border-bottom: solid 3px var(--white-color);
            transform: scaleX(0) translateY(5px);
            transition: transform 250ms ease-in-out;
        }

        >li.active {
            position: relative;
        }

        >li.active:after {
            position: absolute;
            content: '';
            left: -4px;
            bottom: 15px;
            width: 80px;
            height: 3px;
            background: var(--white-color);
        }

        >li:last-child.active:after {
            width: 100px;
        }

        >li.active:after {
            border-bottom: solid 3px var(--white-color);

        }

        >li:first-of-type {
            margin-right: 36px;
        }

        ul {
            position: absolute;
            top: 60px;
            left: -24px;
            padding: 4px;
            background: var(--white-color);
            border: 1px solid #EEEBE9;
            border-radius: 4px;

            li {
                padding: 8px 40px;
                cursor: pointer;
                color: #222;
                font-weight: 600;
            }

            li:first-of-type {
                margin-bottom: 2px;
            }

            li:hover {
                border-radius: 4px;
                background: #F0ECE9;
            }

        }
    }

}

#modalCustomerImgView {
    .customer_img_slide {
        width: 600px;

        .img_cont {
            .img_wrap {
                display: flex;
                align-items: center;

                .img_viewer {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: fit-content;
                    background: #444;

                    img {
                        max-width: 100%;
                        width: auto;
                        height: auto;
                    }

                    .btn_close_modal {
                        position: absolute;
                        top: 12px;
                        right: 12px;
                        width: 32px;
                    }
                }
            }
        }
    }

}

#modalCustomerImgSlide,
#modalCustomerImgView {
    .customer_img_slide {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 800px;
        z-index: 99;
    }
}

.modal_popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
    z-index: 999;
}

.modal_popup .modal_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 18px 18px;
    text-align: center;
    background: var(--white-color);
    max-width: 440px;
    width: 100%;
    border-radius: 12px;
}

.modal_popup .modal_wrap img {
    width: 56px;
    padding-top: 24px;
}

.modal_popup .modal_wrap p {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.5;
    margin: 30px 0 40px;
}

.modal_popup .modal_wrap button {
    padding: 16px 0;
    width: 49.027%;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
}

.modal_popup .modal_wrap button:first-of-type {
    margin-right: 1.946%;
}

.modal_popup .modal_wrap button.modal_btn_ok {
    color: #fff;
    background: var(--primary-color);
    font-weight: 400;
}

.modal_popup .modal_wrap button.modal_btn_ok:hover {
    background: #816d5a;
}

.modal_popup .modal_wrap button.btn_close_modal {
    color: var(--font-brown-200);
    background-color: var(--border-color);
}

#modalDeclineConsultation {
    p {
        margin-bottom: 20px;
    }

    .dropdown_w .selected {
        background: var(--white-color);
        padding: 8px 10px 8px 10px;
        font-size: 15px;
        border: 1px solid var(--border-color);
        border-radius: 4px;
        display: flex;
        align-items: center;
        color: #000;
        justify-content: space-between;
        min-width: 300px;
        margin-right: 0;
    }

    .dropdown_w .selected::after {
        width: 10px;
        height: 10px;
        display: block;
        content: "";
        background: url(http://test.s1.unipware.com/AILawyer/images/ico_arrow_down.svg) 50% no-repeat;

    }

    .dropdown_w .sel_w {
        display: none;
    }

    .dropdown_w.active .sel_w {
        position: absolute;
        display: block;
        background: var(--white-color);
        border-radius: 4px;
        padding: 7px 5px;
        max-height: 150px;
        z-index: 1;
        min-width: 300px;
        box-shadow: -3px 3px 15px var(--box-shadow-color);
        top: 35px;
    }

    .dropdown_w.active .sel_w button {
        display: block;
        font-size: 15px;
        padding: 3px 10px 5px 5px;
        font-weight: 500;
        text-align: left;
        width: 100%;
        color: #000;

    }

    .dropdown_w.active .sel_w button:hover {
        background: var(--primary-color);
        color: var(--white-color);
        border-radius: 4px;
    }

    textarea {
        background: var(--white-color);
        padding: 8px 10px 8px 10px;
        font-size: 15px;
        border: 1px solid var(--border-color);
        border-radius: 4px;
        color: #000;
        min-width: 300px;
        height: 100px;
        resize: none;
        box-shadow: none;
    }

    textarea.disabled {
        background: var(--light-grey);
    }
}

.main_contents {
    .top_btn_area {
        position: relative;
        height: fit-content;

        .search_area {
            position: absolute;
            top: -5px;
            left: calc(100% - 370px);
        }
    }

    h2.title {
        display: flex;
        align-items: center;
        font-size: 22px;

        span {
            padding: 6px 12px;
            margin-right: 8px;
            font-size: 16px;
            background: #E9E9E9;
            border-radius: 18px;
        }
    }

    tr {
        td:first-of-type {
            color: #777;
        }

        .arrow {
            margin-left: 4px;
            width: 10px;
            opacity: 0.6;
            transition: all 0.4s ease;
        }

        .arrow.descending {
            transform: rotate(-180deg);
        }

        .arrow.ascending.flipped {
            transform: rotate(-180deg);
            transition: all 0.4s ease;
        }

        .arrow.descending.flipped {
            transform: rotate(0deg);
            transition: all 0.4s ease;
        }



        th:hover {
            .arrow {
                opacity: 1;
            }
        }

        td {
            .status {
                display: inline-block;
                padding: 4px 16px;
                width: fit-content;
                font-weight: 600;
                border-radius: 18px;
            }

            .status.pending {
                color: var(--primary-color);
                background: #F4EFE4;
            }

            .status.approval {
                color: #00A323;
                background: #E8F5E0;
            }

            .status.hold {
                color: #888;
                background: #f2f2f2;
            }

        }

    }

    tr.active {
        td {
            .status {
                background: var(--white-color);

            }

            .status.pending {
                color: var(--primary-color);
            }

            .status.approval {
                color: #00A323;
            }
        }
    }

    tr:hover {
        td {
            .status {
                background: var(--white-color);

            }

            .status.pending {
                color: var(--primary-color);
            }

            .status.approval {
                color: #00A323;
            }
        }
    }
}

.lawyer_detail {
    .content_wrap {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: -webkit-fill-available;

        .aside_contents {
            .info_wrap {
                h2 {
                    padding: 6px 8px;
                    font-size: 16px;
                    color: var(--primary-color);
                    background: #F0EBDF;
                    border-radius: 4px;
                }

                dl {
                    dt.align-start {
                        align-self: start;
                    }

                    dd {
                        width: calc(100% - 65px);
                        white-space: wrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        p {

                            span {
                                width: 28px;
                                height: 28px;
                                border: 1px solid #d9d9d9;
                                border-radius: 4px;

                                img {
                                    width: 14px;
                                }
                            }

                            span:hover {
                                background: #f8f8f8;
                            }
                        }

                        p.file_name {
                            text-decoration: underline;
                            color: #666;
                        }

                        p.file_name.none {
                            text-decoration: none;
                        }

                        .document_img {
                            span {
                                position: relative;
                                display: flex;
                                align-items: center;
                                width: 110px;
                                height: 148px;
                                overflow: hidden;
                                border: 1px solid #ededed;
                                border-radius: 4px;

                                img.search {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    width: 36px;
                                    opacity: 0;
                                    visibility: hidden;
                                    transition: opacity 0.1s ease, visibility 0.1s ease;
                                }
                            }

                            span:hover {
                                img.search {
                                    display: block;
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    }
                }
            }
        }

        .btn_lawyer_edit {
            background: var(--primary-color);
            color: var(--white-color);
        }

        .btn_lawyer_close:hover {
            background: inherit;
            color: var(--primary-color);
        }

    }

    dl.align-start {
        align-items: start;
    }

    dl.status {
        margin-top: 12px;

        input.disabled {
            cursor: initial;
            background-color: #ccc;
            box-shadow: 0 0 0 1px #ccc;
        }

        input.disabled.not_checked {
            border: 2px solid var(--white-color);
            background-color: var(--white-color);
        }

        label.disabled {
            color: #999;
        }
    }
}

dl.limits_reason {
    display: flex;
    align-items: start;
    margin: 12px 0 0 !important;

    dt {
        font-size: 15px;
        padding: 2px 0;
        width: 42px !important;
        text-align: center !important;
        background: #f5f5f5;
        border: 1px solid #e9e9e9;
        border-radius: 4px;
    }

    dd {
        width: calc(100% - 42px);
        margin-top: 4px;
        font-size: 15px;
        line-height: 1.3;
        color: #2F2A27;
        overflow: unset !important;
        text-overflow: unset !important;

        img {
            cursor: pointer;
            margin-left: 2px;
            padding: 2px;
            width: 18px;
            height: 18px;
        }
    }
}

dl.limits_reason.user {
    flex-wrap: nowrap;
}

.select_wrap {
    flex-direction: column;

    dt {
        width: 100% !important;
        text-align: left;
    }

    dd {
        width: 100% !important;
        max-width: none;
    }
}

dd.select.warning {
    border: 1px solid var(--red-color);
}

dd.select,
.select.area {
    position: relative;
    padding: 8px 12px;
    width: 100%;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    overflow: visible !important;

    p {
        img {
            width: 20px;
            transition: all 0.4s ease;
        }

        img.flipped {
            transform: rotate(-180deg);
            transition: all 0.4s ease;
        }
    }


    ul {
        position: absolute;
        left: -1px;
        padding: 12px 4px 4px;
        width: 101%;
        max-height: 144px;
        border-right: 1px solid #DCDCDC;
        border-bottom: 1px solid #DCDCDC;
        border-left: 1px solid #DCDCDC;
        border-radius: 0 0 4px 4px;
        background: var(--white-color);
        z-index: 99;
    }

    li {
        padding: 4px 8px;
    }

    li:not(:last-of-type) {
        margin-bottom: 4px;
    }

    li:hover {
        background: #F0ECE9;
    }
}

dd.select.disabled {
    color: #888;
    background: #fafafa;
}

dd.select.disabled {
    img {
        opacity: 0.5;
    }

    img.flipped {
        transform: rotate(0);
    }
}

.buttons {
    flex-wrap: wrap;
    margin: 10px 0 0;

    .approval {
        width: 100%;
        padding: 6px 4px 6px 12px;
        margin: 60px 0 28px;
        background: #E3F4E7;
        border-radius: 8px;

        p {
            width: fit-content;
            font-size: 15px;
            font-weight: 500;
        }

        button {
            width: 48%;
            padding: 8px 20px;
            width: fit-content;
            border-radius: 4px;
            border: none;
            font-size: 15px;
            font-weight: 600;
            background: #41CC5F;
            color: var(--white-color);
        }

        button:hover {
            background: #38af52;
        }
    }
}

.lawyer_add {
    .content_wrap {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: -webkit-fill-available;

        h2.title {
            font-size: 20px;
            color: var(--primary-color);
        }

        .basic_info {
            dl:nth-of-type(2) {
                margin-top: 0;
            }
        }

        .inputs {
            flex-direction: column;

            dt {
                width: 100%;
                margin-bottom: 8px;
                text-align: left;
                font-weight: 500;
            }

            dd {
                width: 100%;

                input {
                    border: 1px solid #DCDCDC;
                    border-radius: 4px;
                }

                input.warning {
                    border: 1px solid var(--red-color);
                }

                input.warning::placeholder {
                    color: var(--red-color);
                }

                input:disabled {
                    color: #888;
                }
            }

            dd.certifi {
                color: #666;
            }

            dd.area_wrap {
                display: flex;
                flex-direction: row;

                .select.area {
                    width: 50%;

                    ul {
                        left: -3px;
                        width: 101.5%;
                    }
                }
            }

        }

        .inputs:not(:last-of-type) {
            margin-bottom: 16px;
        }

        dl.edit {
            flex-wrap: wrap;

            dt {
                margin-bottom: 8px;
                text-align: left;
                font-weight: 500;
            }

            input {
                width: 12px;
                min-width: initial;
                padding: 0;
            }
        }

        .btn_lawyer_confirm {
            background: var(--primary-color);
            color: #fff;
        }


    }
}

.lawyer_detail.user {
    .content_wrap {
        .aside_contents {
            .info_wrap {
                dl {
                    flex-wrap: wrap;
                    margin-bottom: 12px;

                    dt {
                        margin-bottom: 6px;
                        width: 100%;
                        text-align: left;
                    }
                }
            }
        }
    }

    .aside_profile {
        display: flex;
        justify-content: center;
        margin-top: 16px;

        .user {
            position: relative;
            width: 110px;
            height: 110px;
            border-radius: 55px;
            border: 2px solid var(--primary-color);

            label {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}


input[type=radio] {
    appearance: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: initial;
    padding: 0;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #dcdcdc;
}

input[type=radio]:checked {
    border: 2px solid var(--white-color);
    background-color: var(--primary-color);
    box-shadow: 0 0 0 1px var(--primary-color);
}

/* 404 */
.error_wrap {
    max-width: 1000px;
    margin: 150px auto;
    text-align: center;
}

.error_wrap .title_num {
    font-size: clamp(25px, 40vw, 300px);
    font-weight: 100;
    color: var(--primary-color);

    span {
        content: '';
        display: inline-block;
        width: 200px;
        height: 200px;
        background: var(--primary-color);
        border-radius: 50%;
        animation: bounce 1.5s infinite;
        /* 애니메이션 적용 */
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
        /* 원래 위치 */
    }

    50% {
        transform: translateY(-30px);
        /* 위로 이동 */
    }
}

.error_wrap .title_ko {
    font-size: clamp(20px, 6vw, 32px);
    position: relative;
    display: inline;

    img {
        width: 30px;
    }
}

.error_wrap .title_ko::after {
    content: '';
    width: 100%;
    height: 14px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #c5920538;
    z-index: -1;
}

.error_wrap .sub_title_ko {
    font-size: clamp(12px, 3vw, 16px);
    margin-top: 10px;
    line-height: 1.5;
}

.error_wrap .btn_home {
    display: inline-block;
    margin-top: 30px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--dark-grey);
    color: var(--white-color);
    width: 18vw;
}

/* loading */
.modal#modalLoading {
    background: #ffffff9a;
}

.rotate {
    animation: rotate 4s linear infinite;
    max-width: 150px;
}

.loading_wrap {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-size: cover;

    .loading_w {
        width: 300px;
        height: 10px;
        background: var(--white-color);
        border-radius: 50px;
        position: relative;
        overflow: hidden;
    }

    .loding_thumb {
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--primary-color);
        border-radius: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: fillWidth 2s infinite;
    }
}


@keyframes fillWidth {
    0% {
        left: -100%;
        /* 처음에는 왼쪽으로 벗어나게 위치시킴 */
    }

    50% {
        left: 0;
        /* 중앙에서 채우기 시작 */
    }

    100% {
        left: 100%;
        /* 오른쪽으로 벗어나게 위치시킴 */
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* 241113 - 데이터 통계 : 리뷰 aside */
#reviewAside {
    padding: 28px 0 16px;
    position: absolute;
    top: 90px;
    left: 0;
    width: 350px;
    height: calc(100dvh - 90px);
    background: var(--white-color);
    box-shadow: 5px 0px 36px 3px rgba(151, 127, 104, 0.25098);
    transform: translateX(-350px);
    transition: transform 0.5s;
    z-index: 99;

    h2.title {
        margin-bottom: 20px;
        font-size: 20px;
        color: var(--primary-color);
    }

    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
        transition: all 0.2s ease;
    }

    .close:hover {
        transform: rotate(90deg);
        transition: all 0.2s ease;
    }

    .pagination {
        padding: 16px 0 0 0;
    }
}

#reviewAside.open {
    transform: translateX(0);
    transition: transform 0.5s;
}

.review_tab {
    li {
        cursor: pointer;
        padding: 6px 0;
        width: 47px;
        text-align: center;
        color: #898989;
        border: 1px solid #dedede;
        border-radius: 4px;
    }

    li:not(:last-of-type) {
        margin-right: 4px;
    }

    li:hover {
        background: var(--hover-background-color);
    }

    li.active {
        color: var(--white-color);
        border-color: var(--primary-color);
        background: var(--primary-color);
    }
}

.reviews {
    max-height: 643px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    li {
        padding: 18px 24px 16px;

        .stars {
            img {
                width: 17px;
            }

            img.empty {
                filter: brightness(0.95);
            }

            img:not(:last-of-type) {
                margin-right: 2px;
            }

            p {
                font-weight: 500;
                color: #252525;
            }
        }
    }

    li:not(:first-of-type) {
        border-top: 1px solid var(--border-color);
    }

    p.comment {
        margin-top: 12px;
        line-height: 1.6;
        color: #434343;
        font-weight: 500;
    }

    p.name {
        color: #bbb;
        font-size: 15px;
    }
}




/* 미디어쿼리 */
@media (max-height:915px) {
    .reviews {
        max-height: calc(100dvh - 280px);
    }
}

@media (max-width:1480px) {
    main.with_aside.data {
        section {
            padding: 5vw 10vw 2vw 10vw;
        }
    }
}

@media (max-width:1200px) {
    main>section {
        width: 1570px
    }

    main.with_aside {
        width: 100%;
        margin-left: 0;
    }

    canvas#allConsultationFieldUsageRate,
    canvas#userConsultationFieldUsageRate {
        max-height: 50px;
        max-width: 450px;
    }

    canvas#lawyerConsultationFieldUsageRate {
        max-height: 50px;
        max-width: 600px;
    }

    canvas#userDocumentUsageRateSexualOffenses,
    canvas#userDocumentUsageRateDUI,
    canvas#userDocumentUsageRateDivorce,
    canvas#userDocumentUsageRatePropertyCrime,
    canvas#userDocumentUsageRateAdministrativeLitigation,
    canvas#lawyerDocumentUsageRateSexualOffenses,
    canvas#lawyerDocumentUsageRateDUI,
    canvas#lawyerDocumentUsageRateDivorce,
    canvas#lawyerDocumentUsageRatePropertyCrime,
    canvas#lawyerDocumentUsageRateAdministrativeLitigation {
        max-height: 150px;
        max-width: 280px;
    }
}


@media (max-width:620px) {
    header {
        padding: 20px 20px;

        h1,
        b {
            font-size: 24px;
        }

        >.menu {
            display: none;
        }

        .btn_logout {
            display: none;
        }

        .btn_logout_mobile_wrap {
            display: block;

            .btn_logout_mobile {
                .dropmenu {
                    right: -8px;

                    .menu {
                        flex-direction: column;



                        >li:first-of-type {
                            margin: 0 0 12px 0;
                        }
                    }

                    .btn_logout {
                        padding: 8px 24px;
                    }

                    .btn_logout:hover label.logout {
                        font-size: 14px;
                    }

                    .logout::before {
                        width: 16px;
                        height: 20px;
                        margin-top: -2px;
                    }

                    .btn_logout_mobile_wrap {
                        display: block !important;
                    }
                }
            }
        }
    }

    aside {
        left: -112%;

        .lawyer_detail {
            height: 96vh;
        }
    }

    .error_wrap .title_num {
        span {
            width: 100px;
            height: 100px;
        }
    }

    .error_wrap .btn_home {
        width: 60vw;
    }

}

@media (max-width:360px) {
    aside {
        width: 320px;
    }
}