@charset "utf-8";

:root {
    --primary-color: #7200FF;
    --primary-dark-color: #230049;
    --color-static-white: #fff;
    --color-static-black: #111;
    --color-text-primary: #111;
    --color-text-secondary: ;
    --color-border-primary: #ddd;
    --color-border-secondary: ;
    --color-border-disabled: ;
    --color-state-warning: ;
    --color-state-positive: ;
    --color-input-bg: #f7f7f7;
    --color-red: #E60303;
    --color-yellow: #FFB338;
}

body{
    background-color: var(--color-static-black);
    color: var(--color-static-white);
    font-size: 16px;
    font-family: 'Pretendard';
    font-weight: 400;
    letter-spacing: -0.5px;
    overflow: auto !important;
    line-height: 1.5;
}
body.no_scroll {
    overflow: hidden !important;
}
body.no_scroll::-webkit-scrollbar {
    scrollbar-width: 0;
    display: none;
}
.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}



/* 메뉴 */
header{
    position: fixed;
    z-index: 120;
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    transition: all 0.3s;
}
header.on {
    top: 0;
    height: 70px;
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
}
.header_logo{
    position: fixed;
    top: 50px;
    left: 50%;
    z-index: 1000;
    transform: translateX(-50%);
    width: 130px;
    opacity: 0;
    transition: all 0.3s;
}
.header_move{
    top: 14px;
}
.header_logo.on{
    opacity: 1 !important;
}
.header_logo.active{
    animation: intro 4s ease;
    animation-delay: 0.5s;
}
@-webkit-keyframes intro{
    0%{
        opacity: 0;
        top: 50%;
        transform: translateX(-50%) scale(3);
    }
    30%{
        top: 50%;
        transform: translateX(-50%) scale(3);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform:translateX(-50%) scale(1);
    }
}
header .left_menus ul{
    display: flex;
    gap: 40px;
}
header .left_menus>ul>li{
    position: relative;
}
header>.left_menus>ul>li>a{
    display: block;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0;
}
header>.left_menus>ul>li>a::before{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    left: 50%;
    bottom: -6px;
    background: transparent;
    transform: translateX(-50%);
    transition: all 0.5s;

}
header>.left_menus>ul>li:hover a::before{
    width: calc(100% + 40px);
    background: linear-gradient(to right, rgba(114, 0, 255, 0) 0%, var(--color-static-white) 50%, rgba(114, 0, 255, 0) 100% );
}
header>.right_menus{
    display: flex;
    align-items: center;
}
header>.right_menus .contact_wrap{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0;
}
header>.right_menus .btn_contact{

    padding: 6px 24px;
    border: 1px solid var(--color-static-white);
    border-radius: 30px;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.hamburger{
    cursor: pointer;
    display: none;
    opacity: 0;
    transition: opacity 1s;
}
.hamburger img{
    width: 26px;
    height: auto;
}
header>.left_menus,
header>.right_menus{
    opacity: 0;
    transition: all 0.2s;
}
header>.left_menus.on,
header>.right_menus.on{
    opacity: 1;
}


/* s: 모바일 메뉴 */
.mo_menu_wrap{
    position: fixed;
    z-index: 1000;
    padding: 0 20px;
    top: 0;
    left: 100%;
    bottom: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-color: var(--color-static-black);
    scrollbar-width: none;
    transition: all 0.5s;
}
.mo_menu_wrap.on{
    left: 0;
}
.menu_container{
    position: relative;
    width: 100%;
    height: 100%;
}
.btn_close{
    width: 25px;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 50px;
}
.mo_logo{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
}
.menu_content{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.menu_item{
    font-size: 26px;
}
.menu_item .mobile_menu{
    transition: all 0.3s;
}
.menu_item .mobile_menu:hover{
    color: var(--primary-color);
}
.menu_item .mobile_menu a{
    position: relative;
}
.menu_item .mobile_menu a::before{
    position: absolute;
    width: 0;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3px;
    background: linear-gradient(to right, rgba(114, 0, 255, 0) 0%, var(--primary-color) 50%, rgba(114, 0, 255, 0) 100% );
    transition: all 0.3s;
}
.menu_item .mobile_menu:hover a::before{
    width: calc(100% + 50px);
}
.mo_btn_contact{
    cursor: pointer;
    padding: 6px 36px;
    border: 1px solid var(--color-static-white);
    border-radius: 30px;
    transition: box-shadow 0.3s;
}
.menu_item>div{
    margin-bottom: 30px;
}
/* e: 모바일 메뉴 */



main .intro_section{
    background: url(../images/bg_intro_section.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110;
    /* display: none; */
}
.intro_logo img {
    opacity: 1;
    position: relative;
    z-index: 2;
}
.main_video_wrap{
    width: 100%;
    height: 100vh;
    position: relative;
}
video.bg_video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.main_text_wrap{
    width: 100%;
    color: var(--color-static-white);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 0 5px rgba(0,0,0,0.25);
}
.main_text_area{
    width: 100%;
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
.slogan_main{
    font-weight: 800;
    position: absolute;
}
.main_text_area div{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 61px;
    font-weight: 900;
    white-space: nowrap;
}
.change_text_01{
    opacity: 0;
    animation: change 18s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.change_text_02{
    opacity: 0;
    animation: change 18s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.change_text_03{
    opacity: 0;
    animation: change 18s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.change_text_04{
    opacity: 0;
    animation: change 18s;
    animation-delay: 9s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.change_text_05{
    opacity: 0;
    animation: change 18s;
    animation-delay: 12s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.change_text_06{
    opacity: 0;
    animation: change 18s;
    animation-delay: 15s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@-webkit-keyframes change{
    0%{
        opacity: 0;
        transform: translate3d(0, 30%, 0);
    }
    5%{
        opacity: 1;
        transform: translateZ(0);
    }
    10%{
        opacity: 1;
        transform: translateZ(0);
    }
    20%{
        opacity: 0;
        transform: translate3d(0, 30%, 0);
    }
    100%{
        opacity: 0;
        transform: translate3d(0, 30%, 0);
    }
}
main .app_wrap{
    width: 100%;
    padding: 0 30px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}
.app_area{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.btn_app{
    cursor: pointer;
    width: 200px;
    padding: 12px 30px;
    border: 1px solid var(--color-static-white);
    border-radius: 30px;
    display: flex;
    align-self: center;
    justify-content: center;
    white-space: nowrap;
    gap: 8px;
    text-shadow: 0 0 5px rgba(0,0,0,0.25);
    transition: box-shadow 0.2s;
}
.btn_app img{
    width: 18px;
}
.btn_app:hover, .btn_contact:hover, .mo_btn_contact:hover{

    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.9);
}
.icon_scroll{
    border: 1.5px solid rgb(255, 255, 255);
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    position: absolute;
    z-index: 100;
    width: 20px;
    height: 30px;
}
.icon_scroll::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    top: 5px;
    width: 2px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-animation: scrollMove 2s infinite;
    animation: scrollMove 2s infinite;
}
@-webkit-keyframes scrollMove {
    0% {
        -webkit-transform: translate(-50%, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        -webkit-transform: translate(-50%, 13px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}



.section_02{
    width: 100%;
    background: url('../images/bg_festival_section_2.jpg') no-repeat;
    background-size: cover;
    background-position: top;
}
.section_wrap{
    width: 100%;
    height: 350vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20% 0;
    position: relative;
}
.section_02 .top_text_content{
    width: 100%;
    position: absolute;
    top: 250px;
    text-align: center;
    transition: opacity 0.4s;
}
.top_text_content.fixed {
    position: fixed;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
}
.top_text_content .section_logo img{
    width: 300px;
}
.top_text_content.hidden{
    opacity: 0;
}
.middle_text_content{
    max-width: 1400px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.middle_text_content .text_wrap {
    width: 100%;
    max-width: 350px;
    min-width: 290px;
    margin-top: 100px;
    /* text-shadow: 0 0 5px rgba(0,0,0,0.25); */
}
.middle_text_content .text_wrap .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.middle_text_content .text_wrap .sub{
    font-size: 20px;
    font-weight: 300;
}












.section_02_bottom_bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}
.section_02_bottom_bg.on{
    opacity: 1;
    visibility: visible;
}
.section_02_bottom{
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
}
.section_02_bottom .text_youtube_wrap .title{
    display: inline-block;
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
}
.icon_comma{
    position: absolute;
    bottom: 4px;
    right: -24px;
    width: 12px;
    animation: blink 1s infinite;
} 
@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.section_02_bottom .text_youtube_wrap .sub{
    font-size: 20px;
}
.section_02_bottom .text_youtube_wrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section_02_bottom .text_youtube_wrap>div{
    width: 48%;
    min-width: 450px;
}
.youtube_wrap iframe{
    width: 100%;
    max-width: 800px;
    aspect-ratio: 2/1;
    
}
.section_02_bottom .app_wrap .app_area{
    justify-content: left;
    margin: 5% 0 0 0;
}








.section_03{
    width: 100%;
    height: 200vh;
    background-color: var(--color-static-black);
}


/* 404page */
.error_wrap{
    max-width: 1000px;
    margin: 100px auto;
    text-align: center;
    padding: 0 20px;
}
.error_wrap .title_num{
    font-size: 120px;
    font-weight: bolder;
}
.error_wrap .title_ko{
    font-size: 32px;
    position: relative;
    display: inline-block;
}
.error_wrap .title_ko::after{
    content: '';
    width: calc(100% + 30px);
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    z-index: -1;
}
.error_wrap .sub_title_ko{
    margin-top: 10px;
    line-height: 1.5;
}
.error_wrap .btn_home{
    display: inline-block;
    margin-top: 30px;
    cursor: pointer;
    padding: 10px 40px;
    background-color: var(--primary-color);
    color: #fff;
}

@media (max-width: 1024px) {
    .section_02_bottom .text_youtube_wrap{
        flex-direction: column;
        gap: 70px;
    }
    .section_02_bottom .text_youtube_wrap>div{
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    .section_02_bottom .app_wrap .app_area{
        justify-content: center;
    }

}
@media (max-width: 900px) {
    header{
        padding: 0 30px;
    }
    header .left_menus,  header .contact_wrap{
        opacity: 0;
        visibility: hidden;
        width: 0px;
    }
    .hamburger{
        display: block;
        opacity: 1;
    }
    .section_02 .top_text_content{
        top: 200px;
    }
    .top_text_content.fixed {
        top: 200px;
    }
    .top_text_content .section_logo img{
        width: 200px;
    }
    .middle_text_content .text_wrap {
        margin-top: 60px;
    }
    .middle_text_content .text_wrap .title{
        font-size: 25px;
        margin-bottom: 12px;
    }
    .middle_text_content .text_wrap .sub{
        font-size: 18px;
    }
}
@media (max-width: 768px) {

}
@media (max-width: 620px) {
    header.on{
        padding: 0 20px;
    }
    .section_02 .top_text_content{
        top: 120px;
    }
    .top_text_content.fixed {
        top: 120px;
    }
    .top_text_content .section_logo img{
        width: 32%;
    }
    .middle_text_content .text_wrap {
        margin-top: 40px;
    }
    .middle_text_content .text_wrap .title{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .middle_text_content .text_wrap .sub{
        font-size: 15px;
    }
}
@media (max-width: 500px) {
    header{
        padding: 0 20px;
    }
    .section_02_bottom{
        max-width: 500px;
    }
    .middle_text_content .text_wrap {
        max-width: 300px;
        min-width: 0;
        text-shadow: 0 0 5px rgba(0,0,0,0.25);
    }
    .section_02_bottom .text_youtube_wrap>div{
        width: 100%;
        min-width: 0;
    }
    .section_02_bottom .text_youtube_wrap .title {
        font-size: 30px;
    }
    .section_02_bottom .text_youtube_wrap .sub {
        font-size: 15px;
    }
    .section_02_bottom .text_youtube_wrap{
        gap: 30px;
    }
    .icon_comma {
        bottom: 4px;
        right: -18px;
        width: 10px;
    }

}
@media (max-width: 425px) {
    .container{
        padding: 0 20px;
    }
    .middle_text_content {
        padding: 0 20px;
    }
    .main_text_wrap{
        font-size: 30px;
    }
    .main_text_area{
        margin: 0;
    }
    .main_text_area div{
        top: 44%;
        font-size: 46px;
    }
    .error_wrap .title_num{
        font-size: 100px;
    }
    .error_wrap .title_ko{
        font-size: 28px;
    }
}
@media (max-width: 360px) {
    .section_02_bottom .text_youtube_wrap .title {
        font-size: 26px;
    }
}











