@charset "utf-8";

:root {
    --primary-color: #7200FF;
    --primary-dark-color: #230049;
    --color-static-white: #fff;
    --color-static-black: #111;
    --color-text-primary: #111;
    --color-text-secondary: ;
    --color-border-primary: #ddd;
    --color-border-secondary: ;
    --color-border-disabled: ;
    --color-state-warning: ;
    --color-state-positive: ;
    --color-input-bg: #f7f7f7;
    --color-red: #E60303;
    --color-yellow: #FFB338;
}
